# DS-SF-34 | 02 | The `pandas` Library | Codealong | Starter Code

(http://pandas.pydata.org/pandas-docs/stable)

## Part A - Introduction to `pandas`

In [1]:
import numpy as np
import pandas as pd
import re

> ## `pd.read_csv()`: load datasets from files (or even over the Internet)

(http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html)

In [2]:
df = pd.read_csv("../datasets/dataset-02-zillow-starter.csv")

> ## `DataFrame`

Let's check `df`'s type:

In [3]:
type(df)

pandas.core.frame.DataFrame

`df` is a `DataFrame`.  (http://pandas.pydata.org/pandas-docs/stable/dsintro.html)

A `DataFrame` stores tabular data.  Let's have a look at its content:

In [4]:
df

,ID,Address,Latitude,Longitude,DateOfSale,SalePrice,SalePriceUnit,IsAStudio,Beds,Baths,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
0,15063471,"55 Vandewater St APT 9, San Francisco, CA",37805103,-122412856,12/4/15,710000.00,$,False,1.0,NaN,550.0,sqft,NaN,NaN,1980.0
1,15063505,"740 Francisco St, San Francisco, CA",37804420,-122417389,11/30/15,2.15,$M,False,NaN,2.0,1430.0,sqft,2435.0,sqft,1948.0
2,15063609,"819 Francisco St, San Francisco, CA",37803728,-122419055,11/12/15,5.60,$M,False,2.0,3.5,2040.0,sqft,3920.0,sqft,1976.0
3,15064044,"199 Chestnut St APT 5, San Francisco, CA",37804392,-122406590,12/11/15,1.50,$M,False,1.0,1.0,1060.0,sqft,NaN,NaN,1930.0
4,15064257,"111 Chestnut St APT 403, San Francisco, CA",37804240,-122405509,1/15/16,970000.00,$,False,2.0,2.0,1299.0,sqft,NaN,NaN,1993.0
5,15064295,"111 Chestnut St APT 702, San Francisco, CA",37804240,-122405509,12/17/15,940000.00,$,False,2.0,2.0,1033.0,sqft,NaN,NaN,1993.0
6,15064391,"1821 Grant Ave APT 101, San Francisco, CA",37803748,-122408531,12/15/15,835000.00,$,False,1.0,1.0,1048.0,sqft,NaN,NaN,1975.0
7,15064536,"2300 Leavenworth St, San Francisco, CA",37802408,-122417537,12/4/15,2.83,$M,False,3.0,2.0,2115.0,sqft,1271.0,sqft,1913.0
8,15064640,"1047-1049 Lombard St, San Francisco, CA",37801889,-122418704,1/14/16,4.05,$M,True,NaN,NaN,4102.0,sqft,3049.0,sqft,1948.0
9,15064669,"1055 Lombard St # C, San Francisco, CA",37801873,-122418834,12/31/15,2.19,$M,False,2.0,3.0,1182.0,sqft,NaN,NaN,1986.0
10,15065032,"101 Lombard St APT 116E, San Francisco, CA",37803470,-122404090,12/7/15,800000.00,$,False,1.0,1.0,1000.0,sqft,NaN,NaN,1983.0
11,15065140,"1407 Montgomery St APT 2, San Francisco, CA",37802299,-122404941,1/28/16,976000.00,$,False,1.0,1.0,1000.0,sqft,NaN,NaN,1870.0
12,15065727,"1360 Montgomery St APT 1, San Francisco, CA",37801802,-122404269,11/16/15,720000.00,$,False,1.0,1.0,552.0,sqft,NaN,NaN,1937.0
13,15065810,"1327-1329 Kearny St, San Francisco, CA",37800260,-122406123,11/25/15,2.25,$M,False,NaN,4.0,2658.0,sqft,1600.0,sqft,1906.0
14,15065946,"44 Macondray Ln APT 2E, San Francisco, CA",37799474,-122414835,11/30/15,1.29,$M,False,2.0,2.0,1165.0,sqft,NaN,NaN,1980.0
15,15066001,"1070 Green St APT 201, San Francisco, CA",37798792,-122416797,11/18/15,2.90,$M,False,2.0,2.0,1465.0,sqft,NaN,NaN,1963.0
16,15066036,"1070 Green St APT 1402, San Francisco, CA",37798792,-122416797,12/31/15,2.60,$M,False,3.0,2.5,2017.0,sqft,NaN,NaN,1963.0
17,15066085,"1907 Leavenworth St APT 8, San Francisco, CA",37798645,-122417500,11/12/15,908000.00,$,False,2.0,1.0,956.0,sqft,NaN,NaN,1907.0
18,15066201,"1101 Green St # 303, San Francisco, CA",37798234,-122417394,11/16/15,1.21,$M,False,2.0,1.0,1003.0,sqft,NaN,NaN,1930.0
19,15066281,"1807 Jones St, San Francisco, CA",37797920,-122415745,12/15/15,1.70,$M,False,2.0,2.0,1467.0,sqft,3023.0,sqft,1922.0
20,15066344,"999 Green St APT 905, San Francisco, CA",37798451,-122415218,12/10/15,1.28,$M,False,1.0,1.0,986.0,sqft,NaN,NaN,1964.0
21,15066608,"455 Vallejo St APT 111, San Francisco, CA",37798796,-122404766,12/16/15,875000.00,$,False,1.0,1.0,825.0,sqft,NaN,NaN,1973.0
22,15066839,"1163-1165 Vallejo St, San Francisco, CA",37797445,-122416366,12/1/15,300000.00,$,False,NaN,2.0,2344.0,sqft,1376.0,sqft,1913.0
23,15066959,"1300 Pacific Ave, San Francisco, CA",37795805,-122416840,1/14/16,425000.00,$,True,NaN,2.0,989.0,sqft,NaN,NaN,1910.0
24,15067302,"948 Jackson St, San Francisco, CA",37795662,-122410789,11/13/15,1.95,$M,False,NaN,4.0,4362.0,sqft,1459.0,sqft,1908.0
25,15067583,"946 Stockton St APT 6B, San Francisco, CA",37794715,-122407810,12/18/15,775000.00,$,False,NaN,2.0,710.0,sqft,NaN,NaN,1970.0
26,15067604,"946 Stockton St APT 9E, San Francisco, CA",37794715,-122407810,12/2/15,705000.00,$,False,2.0,2.0,744.0,sqft,NaN,NaN,1970.0
27,15067755,"1250 Clay St APT 306, San Francisco, CA",37793575,-122413670,1/10/16,695000.00,$,False,1.0,1.0,541.0,sqft,NaN,NaN,1950.0
28,15067890,"1250 Jones St APT 503, San Francisco, CA",37793071,-122414049,12/4/15,1.41,$M,False,1.0,1.0,1250.0,sqft,NaN,NaN,1929.0
29,15067896,"1250 Jones St APT 802, San Francisco, CA",37793071,-122414049,12/15/15,1.68,$M,False,1.0,1.0,1115.0,sqft,NaN,NaN,1929.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,2100992607,"2137 Pine St, San Francisco, CA",37788242,-122430988,1/15/16,1.55,$M,False,4.0,2.5,1632.0,sqft,NaN,NaN,NaN
971,2100994004,"409 Miguel St, San Francisco, CA",37736625,-122427008,12/9/15,510000.00,$,False,1.0,1.0,400.0,sqft,NaN,NaN,NaN
972,2101028916,"251 Missouri St, San Francisco, CA",37763202,-122396270,12/17/15,2.45,$M,False,4.0,3.0,2301.0,sqft,NaN,NaN,1900.0
973,2101094207,"1650 Florida St, San Francisco, CA",37746898,-122409301,11/29/15,970000.00,$,False,3.0,1.0,NaN,NaN,NaN,NaN,1904.0
974,2101105851,"41 Collingwood St, San Francisco, CA",37761579,-122436123,12/10/15,1.30,$M,False,3.0,1.0,1496.0,sqft,NaN,NaN,1908.0
975,2101116542,"2753 Bryant St, San Francisco, CA",37750270,-122408600,1/14/16,1.70,$M,False,9.0,3.0,4005.0,sqft,NaN,NaN,1900.0
976,2101147349,"244 Precita Ave, San Francisco, CA",37747330,-122415110,11/26/15,785000.00,$,False,1.0,1.0,625.0,sqft,NaN,NaN,1908.0
977,2101153805,"6 Rossi Ave, San Francisco, CA",37779494,-122456412,12/2/15,1.15,$M,False,3.0,1.0,1912.0,sqft,NaN,NaN,1941.0
978,2101156735,"333 Potrero Ave, San Francisco, CA",37765266,-122407150,1/5/16,1.14,$M,True,NaN,NaN,1776.0,sqft,3746.0,sqft,1905.0
979,2101167573,"1340 Union St, San Francisco, CA",37798930,-122421388,1/25/16,1.25,$M,False,2.0,2.0,1108.0,sqft,NaN,NaN,1951.0
980,2101169168,"688 Douglass St, San Francisco, CA",37752803,-122438919,11/10/15,3.15,$M,True,NaN,NaN,3500.0,sqft,2495.0,sqft,1908.0
981,2101175813,"414 Linden St, San Francisco, CA",37776218,-122424930,12/13/15,835000.00,$,False,1.0,1.0,NaN,NaN,NaN,NaN,1909.0
982,2101331127,"1408 31st Ave APT 303, San Francisco, CA",37760994,-122489700,12/28/15,890000.00,$,False,2.0,2.0,1424.0,sqft,NaN,NaN,2008.0
983,2101505254,"333 Beale St, San Francisco, CA",37788280,-122392100,12/3/15,1.40,$M,False,1.0,1.0,950.0,sqft,NaN,NaN,2015.0
984,2101588805,"82 Alvarado St, San Francisco, CA",37754504,-122422736,11/19/15,750000.00,$,False,2.0,1.0,NaN,NaN,NaN,NaN,NaN
985,2101807538,"2619 Sacramento St, San Francisco, CA",37789371,-122436058,12/2/15,2.90,$M,True,NaN,NaN,NaN,NaN,2038.0,sqft,1900.0
986,2102385068,"129 Central Ave, San Francisco, CA",37770870,-122443840,12/1/15,1.80,$M,False,3.0,2.0,NaN,NaN,NaN,NaN,1905.0
987,2102906272,"444 Linden St, San Francisco, CA",37776170,-122425300,12/14/15,5800.00,$,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
988,2106229715,"2595 38th Ave, San Francisco, CA",37738600,-122496000,1/19/16,1.24,$M,False,3.0,3.0,2414.0,sqft,1306.0,sqft,1943.0
989,2108411930,"3500 19th St, San Francisco, CA",37760100,-122422000,12/29/15,1.73,$M,False,2.0,2.5,1500.0,sqft,NaN,NaN,2013.0
990,2108546010,"1738 Lombard St APT 4, San Francisco, CA",37800910,-122430229,1/14/16,1.40,$M,False,2.0,2.0,NaN,NaN,NaN,NaN,2004.0
991,2114498518,"201 Sansome St UNIT 501, San Francisco, CA",37792255,-122401245,1/26/16,757500.00,$,False,1.0,1.0,658.0,sqft,NaN,NaN,1909.0
992,2121221385,"925 Larkin St, San Francisco, CA",37786427,-122418222,11/30/15,1.43,$M,False,NaN,NaN,6600.0,sqft,NaN,NaN,1907.0
993,2121978635,"829 Folsom St UNIT 906, San Francisco, CA",37781429,-122401860,12/6/15,675000.00,$,False,1.0,1.0,557.0,sqft,NaN,NaN,2010.0
994,2122992200,"129 Octavia St, San Francisco, CA",37773192,-122424037,11/20/15,2.75,$M,True,NaN,NaN,3655.0,sqft,NaN,NaN,1883.0
995,2124214951,"412 Green St APT A, San Francisco, CA",37800040,-122406100,1/15/16,390000.00,$,True,NaN,1.0,264.0,sqft,NaN,NaN,2012.0
996,2126960082,"355 1st St UNIT 1905, San Francisco, CA",37787029,-122393638,11/20/15,860000.00,$,False,1.0,1.0,691.0,sqft,NaN,NaN,2004.0
997,2128308939,"33 Santa Cruz Ave, San Francisco, CA",37709136,-122465332,12/10/15,830000.00,$,False,3.0,3.0,1738.0,sqft,2299.0,sqft,1976.0
998,2131957929,"1821 Grant Ave, San Francisco, CA",37803760,-122408531,12/15/15,835000.00,$,False,2.0,2.0,1048.0,sqft,NaN,NaN,1975.0
999,2136213970,"1200 Gough St, San Francisco, CA",37784770,-122424100,1/10/16,825000.00,$,False,1.0,1.0,900.0,sqft,NaN,NaN,1966.0

> ## `.head()`: first 5 (default) rows

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.head.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.head.html)

In [5]:
df.head()

,ID,Address,Latitude,Longitude,DateOfSale,SalePrice,SalePriceUnit,IsAStudio,Beds,Baths,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
0,15063471,"55 Vandewater St APT 9, San Francisco, CA",37805103,-122412856,12/4/15,710000.00,$,False,1.0,NaN,550.0,sqft,NaN,NaN,1980.0
1,15063505,"740 Francisco St, San Francisco, CA",37804420,-122417389,11/30/15,2.15,$M,False,NaN,2.0,1430.0,sqft,2435.0,sqft,1948.0
2,15063609,"819 Francisco St, San Francisco, CA",37803728,-122419055,11/12/15,5.60,$M,False,2.0,3.5,2040.0,sqft,3920.0,sqft,1976.0
3,15064044,"199 Chestnut St APT 5, San Francisco, CA",37804392,-122406590,12/11/15,1.50,$M,False,1.0,1.0,1060.0,sqft,NaN,NaN,1930.0
4,15064257,"111 Chestnut St APT 403, San Francisco, CA",37804240,-122405509,1/15/16,970000.00,$,False,2.0,2.0,1299.0,sqft,NaN,NaN,1993.0

> ## `.tail()`: last 5 (default) rows

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.tail.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.tail.html)

In [13]:
df.tail()

,ID,Address,Latitude,Longitude,DateOfSale,SalePrice,SalePriceUnit,IsAStudio,Beds,Baths,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
995,2124214951,"412 Green St APT A, San Francisco, CA",37800040,-122406100,1/15/16,390000.0,$,True,NaN,1.0,264.0,sqft,NaN,NaN,2012.0
996,2126960082,"355 1st St UNIT 1905, San Francisco, CA",37787029,-122393638,11/20/15,860000.0,$,False,1.0,1.0,691.0,sqft,NaN,NaN,2004.0
997,2128308939,"33 Santa Cruz Ave, San Francisco, CA",37709136,-122465332,12/10/15,830000.0,$,False,3.0,3.0,1738.0,sqft,2299.0,sqft,1976.0
998,2131957929,"1821 Grant Ave, San Francisco, CA",37803760,-122408531,12/15/15,835000.0,$,False,2.0,2.0,1048.0,sqft,NaN,NaN,1975.0
999,2136213970,"1200 Gough St, San Francisco, CA",37784770,-122424100,1/10/16,825000.0,$,False,1.0,1.0,900.0,sqft,NaN,NaN,1966.0

> ## `.shape`: shape (i.e., number of rows and columns)

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.shape.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.shape.html)

In [11]:
df.shape

(1000, 15)

The first value (at index 0) is the number of rows, the second (at index 1), the number of columns:

In [9]:
df.shape[0]

1000

In [ ]:
# TODO

You can also use the idiomatic Python `len` function to get the number of rows:

In [14]:
len(df)

1000

> ## `.dtypes`: column types

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.dtypes.html)
- (http://pandas.pydata.org/pandas-docs/stable/basics.html)

In [ ]:
df.dtypes

> ## `.isnull()` and `.notnull()`: NaN (Not-a-Number)

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.isnull.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.isnull.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.isnull.html)

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.notnull.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.notnull.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.notnull.html)

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sum.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.sum.html)

As a data scientist, we will have to decide what to do when encountering missing values (a.k.a, not-a-numbers).  We might decide to drop the row containing it, drop the whole column, or impute it.  Today, let's focus on finding these NaNs.

In [4]:
df.isnull()
#indiates whether the value is null or not null

,ID,Address,Latitude,Longitude,DateOfSale,SalePrice,SalePriceUnit,IsAStudio,Beds,Baths,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
0,False,False,False,False,False,False,False,False,False,True,False,False,True,True,False
1,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
4,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
5,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
6,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,True,True,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
10,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
11,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
12,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
13,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
15,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
16,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
17,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
18,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
19,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
21,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
22,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,True,False,False,False,True,True,False
24,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,True,False,False,False,True,True,False
26,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
27,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
28,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
29,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True
971,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True
972,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
973,False,False,False,False,False,False,False,False,False,False,True,True,True,True,False
974,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
975,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
976,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
977,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
978,False,False,False,False,False,False,False,False,True,True,False,False,False,False,False
979,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
980,False,False,False,False,False,False,False,False,True,True,False,False,False,False,False
981,False,False,False,False,False,False,False,False,False,False,True,True,True,True,False
982,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
983,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
984,False,False,False,False,False,False,False,False,False,False,True,True,True,True,True
985,False,False,False,False,False,False,False,False,True,True,True,True,False,False,False
986,False,False,False,False,False,False,False,False,False,False,True,True,True,True,False
987,False,False,False,False,False,False,False,True,True,True,True,True,True,True,True
988,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
989,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
990,False,False,False,False,False,False,False,False,False,False,True,True,True,True,False
991,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
992,False,False,False,False,False,False,False,False,True,True,False,False,True,True,False
993,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
994,False,False,False,False,False,False,False,False,True,True,False,False,True,True,False
995,False,False,False,False,False,False,False,False,True,False,False,False,True,True,False
996,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
997,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
998,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
999,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False

In return, we get a new `DataFrame` with Boolean values.  `True` if the value is `NaN`, `False` otherwise.

We can also get the count per column:

In [6]:
df.isnull().head()
#to see the first part

,ID,Address,Latitude,Longitude,DateOfSale,SalePrice,SalePriceUnit,IsAStudio,Beds,Baths,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
0,False,False,False,False,False,False,False,False,False,True,False,False,True,True,False
1,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
4,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False

In [15]:
df.isnull().head()

,ID,Address,Latitude,Longitude,DateOfSale,SalePrice,SalePriceUnit,IsAStudio,Beds,Baths,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
0,False,False,False,False,False,False,False,False,False,True,False,False,True,True,False
1,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
4,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False

In [17]:
df.isnull().sum()

ID                 0
Address            0
Latitude           0
Longitude          0
DateOfSale         0
SalePrice          0
SalePriceUnit      0
IsAStudio         14
Beds             164
Baths             58
Size              33
SizeUnit          33
LotSize          444
LotSizeUnit      444
BuiltInYear       25
dtype: int64

Summing again will return the number of cells in the `DataFrame` with missing values.

In [16]:
df.isnull().sum(axis=0)

ID                 0
Address            0
Latitude           0
Longitude          0
DateOfSale         0
SalePrice          0
SalePriceUnit      0
IsAStudio         14
Beds             164
Baths             58
Size              33
SizeUnit          33
LotSize          444
LotSizeUnit      444
BuiltInYear       25
dtype: int64

In [19]:
df.isnull().sum(axis=1).head()

0    3
1    1
2    0
3    2
4    2
dtype: int64

In [9]:
null_mask = df.isnull()
null_mask.sum().sum()

1215L

Equivalently, we can also use the `.isnull()` function:

In [10]:
pd.isnull(df)

,ID,Address,Latitude,Longitude,DateOfSale,SalePrice,SalePriceUnit,IsAStudio,Beds,Baths,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
0,False,False,False,False,False,False,False,False,False,True,False,False,True,True,False
1,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
4,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
5,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
6,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,True,True,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
10,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
11,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
12,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
13,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
15,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
16,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
17,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
18,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
19,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
21,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
22,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,True,False,False,False,True,True,False
24,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,True,False,False,False,True,True,False
26,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
27,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
28,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
29,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True
971,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True
972,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
973,False,False,False,False,False,False,False,False,False,False,True,True,True,True,False
974,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
975,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
976,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
977,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
978,False,False,False,False,False,False,False,False,True,True,False,False,False,False,False
979,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
980,False,False,False,False,False,False,False,False,True,True,False,False,False,False,False
981,False,False,False,False,False,False,False,False,False,False,True,True,True,True,False
982,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
983,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
984,False,False,False,False,False,False,False,False,False,False,True,True,True,True,True
985,False,False,False,False,False,False,False,False,True,True,True,True,False,False,False
986,False,False,False,False,False,False,False,False,False,False,True,True,True,True,False
987,False,False,False,False,False,False,False,True,True,True,True,True,True,True,True
988,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
989,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
990,False,False,False,False,False,False,False,False,False,False,True,True,True,True,False
991,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
992,False,False,False,False,False,False,False,False,True,True,False,False,True,True,False
993,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
994,False,False,False,False,False,False,False,False,True,True,False,False,True,True,False
995,False,False,False,False,False,False,False,False,True,False,False,False,True,True,False
996,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
997,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
998,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False
999,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False

We also also use `.notnull()`, its complement method:

In [20]:
df.notnull()

,ID,Address,Latitude,Longitude,DateOfSale,SalePrice,SalePriceUnit,IsAStudio,Beds,Baths,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
0,True,True,True,True,True,True,True,True,True,False,True,True,False,False,True
1,True,True,True,True,True,True,True,True,False,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
4,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
5,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
6,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
7,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
8,True,True,True,True,True,True,True,True,False,False,True,True,True,True,True
9,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
10,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
11,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
12,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
13,True,True,True,True,True,True,True,True,False,True,True,True,True,True,True
14,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
15,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
16,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
17,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
18,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
19,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
20,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
21,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
22,True,True,True,True,True,True,True,True,False,True,True,True,True,True,True
23,True,True,True,True,True,True,True,True,False,True,True,True,False,False,True
24,True,True,True,True,True,True,True,True,False,True,True,True,True,True,True
25,True,True,True,True,True,True,True,True,False,True,True,True,False,False,True
26,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
27,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
28,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
29,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,True,True,True,True,True,True,True,True,True,True,True,True,False,False,False
971,True,True,True,True,True,True,True,True,True,True,True,True,False,False,False
972,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
973,True,True,True,True,True,True,True,True,True,True,False,False,False,False,True
974,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
975,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
976,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
977,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
978,True,True,True,True,True,True,True,True,False,False,True,True,True,True,True
979,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
980,True,True,True,True,True,True,True,True,False,False,True,True,True,True,True
981,True,True,True,True,True,True,True,True,True,True,False,False,False,False,True
982,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
983,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
984,True,True,True,True,True,True,True,True,True,True,False,False,False,False,False
985,True,True,True,True,True,True,True,True,False,False,False,False,True,True,True
986,True,True,True,True,True,True,True,True,True,True,False,False,False,False,True
987,True,True,True,True,True,True,True,False,False,False,False,False,False,False,False
988,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
989,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
990,True,True,True,True,True,True,True,True,True,True,False,False,False,False,True
991,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
992,True,True,True,True,True,True,True,True,False,False,True,True,False,False,True
993,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
994,True,True,True,True,True,True,True,True,False,False,True,True,False,False,True
995,True,True,True,True,True,True,True,True,False,True,True,True,False,False,True
996,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
997,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
998,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
999,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True

In [21]:
pd.notnull(df)

,ID,Address,Latitude,Longitude,DateOfSale,SalePrice,SalePriceUnit,IsAStudio,Beds,Baths,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
0,True,True,True,True,True,True,True,True,True,False,True,True,False,False,True
1,True,True,True,True,True,True,True,True,False,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
4,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
5,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
6,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
7,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
8,True,True,True,True,True,True,True,True,False,False,True,True,True,True,True
9,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
10,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
11,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
12,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
13,True,True,True,True,True,True,True,True,False,True,True,True,True,True,True
14,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
15,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
16,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
17,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
18,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
19,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
20,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
21,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
22,True,True,True,True,True,True,True,True,False,True,True,True,True,True,True
23,True,True,True,True,True,True,True,True,False,True,True,True,False,False,True
24,True,True,True,True,True,True,True,True,False,True,True,True,True,True,True
25,True,True,True,True,True,True,True,True,False,True,True,True,False,False,True
26,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
27,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
28,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
29,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,True,True,True,True,True,True,True,True,True,True,True,True,False,False,False
971,True,True,True,True,True,True,True,True,True,True,True,True,False,False,False
972,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
973,True,True,True,True,True,True,True,True,True,True,False,False,False,False,True
974,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
975,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
976,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
977,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
978,True,True,True,True,True,True,True,True,False,False,True,True,True,True,True
979,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
980,True,True,True,True,True,True,True,True,False,False,True,True,True,True,True
981,True,True,True,True,True,True,True,True,True,True,False,False,False,False,True
982,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
983,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
984,True,True,True,True,True,True,True,True,True,True,False,False,False,False,False
985,True,True,True,True,True,True,True,True,False,False,False,False,True,True,True
986,True,True,True,True,True,True,True,True,True,True,False,False,False,False,True
987,True,True,True,True,True,True,True,False,False,False,False,False,False,False,False
988,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
989,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
990,True,True,True,True,True,True,True,True,True,True,False,False,False,False,True
991,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
992,True,True,True,True,True,True,True,True,False,False,True,True,False,False,True
993,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
994,True,True,True,True,True,True,True,True,False,False,True,True,False,False,True
995,True,True,True,True,True,True,True,True,False,True,True,True,False,False,True
996,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
997,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
998,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True
999,True,True,True,True,True,True,True,True,True,True,True,True,False,False,True

> ### `.index` and `.columns`: row and column labels

(http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Index.html)

Use the `.index` property to get the label for rows.  For columns, use the `.columns` property.

In [22]:
df.index

RangeIndex(start=0, stop=1000, step=1)

In [23]:
type(df.index)

pandas.core.indexes.range.RangeIndex

In this specific case, rows are just numbered from 0 to 1,000.  Note that, similarly to Python's standard `range` function, this range also excludes the last number.

In [11]:
df.columns

Index([u'ID', u'Address', u'Latitude', u'Longitude', u'DateOfSale',
       u'SalePrice', u'SalePriceUnit', u'IsAStudio', u'Beds', u'Baths',
       u'Size', u'SizeUnit', u'LotSize', u'LotSizeUnit', u'BuiltInYear'],
      dtype='object')

In [24]:
type(df.columns)

pandas.core.indexes.base.Index

In [25]:
df.columns

Index([u'ID', u'Address', u'Latitude', u'Longitude', u'DateOfSale',
       u'SalePrice', u'SalePriceUnit', u'IsAStudio', u'Beds', u'Baths',
       u'Size', u'SizeUnit', u'LotSize', u'LotSizeUnit', u'BuiltInYear'],
      dtype='object')

In [37]:
columns_new = []
for c in df.columns:
    columns_new.append(c.upper())
print columns_new

['ID', 'ADDRESS', 'LATITUDE', 'LONGITUDE', 'DATEOFSALE', 'SALEPRICE', 'SALEPRICEUNIT', 'ISASTUDIO', 'BEDS', 'BATHS', 'SIZE', 'SIZEUNIT', 'LOTSIZE', 'LOTSIZEUNIT', 'BUILTINYEAR']

In [12]:
columns_upper = []
upperfor column in df.columns:
    columns_upper.append(column.upper())
columns_upper

['ID',
 'ADDRESS',
 'LATITUDE',
 'LONGITUDE',
 'DATEOFSALE',
 'SALEPRICE',
 'SALEPRICEUNIT',
 'ISASTUDIO',
 'BEDS',
 'BATHS',
 'SIZE',
 'SIZEUNIT',
 'LOTSIZE',
 'LOTSIZEUNIT',
 'BUILTINYEAR']

In [39]:
df.columns = columns_new

In [14]:
df.head()
#now all column names are in upper case

,ID,ADDRESS,LATITUDE,LONGITUDE,DATEOFSALE,SALEPRICE,SALEPRICEUNIT,ISASTUDIO,BEDS,BATHS,SIZE,SIZEUNIT,LOTSIZE,LOTSIZEUNIT,BUILTINYEAR
0,15063471,"55 Vandewater St APT 9, San Francisco, CA",37805103,-122412856,12/4/15,710000.00,$,False,1.0,NaN,550.0,sqft,NaN,NaN,1980.0
1,15063505,"740 Francisco St, San Francisco, CA",37804420,-122417389,11/30/15,2.15,$M,False,NaN,2.0,1430.0,sqft,2435.0,sqft,1948.0
2,15063609,"819 Francisco St, San Francisco, CA",37803728,-122419055,11/12/15,5.60,$M,False,2.0,3.5,2040.0,sqft,3920.0,sqft,1976.0
3,15064044,"199 Chestnut St APT 5, San Francisco, CA",37804392,-122406590,12/11/15,1.50,$M,False,1.0,1.0,1060.0,sqft,NaN,NaN,1930.0
4,15064257,"111 Chestnut St APT 403, San Francisco, CA",37804240,-122405509,1/15/16,970000.00,$,False,2.0,2.0,1299.0,sqft,NaN,NaN,1993.0

> ## `[ [] ]` and `[]`: subsetting on columns

Selecting specific columns is performed by using the `[]` operator.

Passing a single integer, or a list of integers, to `[]` will perform a location-based lookup of the columns.

> E.g., columns #5 and #6:

In [42]:
type(df["LATITUDE"])

pandas.core.series.Series

> Let's check that the column subsetting returns a `DataFrame`:

In [46]:
df[["LATITUDE","LONGITUDE"]]

     LATITUDE  LONGITUDE
0    37805103 -122412856
1    37804420 -122417389
2    37803728 -122419055
3    37804392 -122406590
4    37804240 -122405509
5    37804240 -122405509
6    37803748 -122408531
7    37802408 -122417537
8    37801889 -122418704
9    37801873 -122418834
10   37803470 -122404090
11   37802299 -122404941
12   37801802 -122404269
13   37800260 -122406123
14   37799474 -122414835
15   37798792 -122416797
16   37798792 -122416797
17   37798645 -122417500
18   37798234 -122417394
19   37797920 -122415745
20   37798451 -122415218
21   37798796 -122404766
22   37797445 -122416366
23   37795805 -122416840
24   37795662 -122410789
25   37794715 -122407810
26   37794715 -122407810
27   37793575 -122413670
28   37793071 -122414049
29   37793071 -122414049
..        ...        ...
970  37788242 -122430988
971  37736625 -122427008
972  37763202 -122396270
973  37746898 -122409301
974  37761579 -122436123
975  37750270 -122408600
976  37747330 -122415110
977  37779494 -122456412
978  37765266 -122407150
979  37798930 -122421388
980  37752803 -122438919
981  37776218 -122424930
982  37760994 -122489700
983  37788280 -122392100
984  37754504 -122422736
985  37789371 -122436058
986  37770870 -122443840
987  37776170 -122425300
988  37738600 -122496000
989  37760100 -122422000
990  37800910 -122430229
991  37792255 -122401245
992  37786427 -122418222
993  37781429 -122401860
994  37773192 -122424037
995  37800040 -122406100
996  37787029 -122393638
997  37709136 -122465332
998  37803760 -122408531
999  37784770 -122424100

[1000 rows x 2 columns]

In [47]:
df.loc[:,["LATITUDE","LONGITUDE"]]

     LATITUDE  LONGITUDE
0    37805103 -122412856
1    37804420 -122417389
2    37803728 -122419055
3    37804392 -122406590
4    37804240 -122405509
5    37804240 -122405509
6    37803748 -122408531
7    37802408 -122417537
8    37801889 -122418704
9    37801873 -122418834
10   37803470 -122404090
11   37802299 -122404941
12   37801802 -122404269
13   37800260 -122406123
14   37799474 -122414835
15   37798792 -122416797
16   37798792 -122416797
17   37798645 -122417500
18   37798234 -122417394
19   37797920 -122415745
20   37798451 -122415218
21   37798796 -122404766
22   37797445 -122416366
23   37795805 -122416840
24   37795662 -122410789
25   37794715 -122407810
26   37794715 -122407810
27   37793575 -122413670
28   37793071 -122414049
29   37793071 -122414049
..        ...        ...
970  37788242 -122430988
971  37736625 -122427008
972  37763202 -122396270
973  37746898 -122409301
974  37761579 -122436123
975  37750270 -122408600
976  37747330 -122415110
977  37779494 -122456412
978  37765266 -122407150
979  37798930 -122421388
980  37752803 -122438919
981  37776218 -122424930
982  37760994 -122489700
983  37788280 -122392100
984  37754504 -122422736
985  37789371 -122436058
986  37770870 -122443840
987  37776170 -122425300
988  37738600 -122496000
989  37760100 -122422000
990  37800910 -122430229
991  37792255 -122401245
992  37786427 -122418222
993  37781429 -122401860
994  37773192 -122424037
995  37800040 -122406100
996  37787029 -122393638
997  37709136 -122465332
998  37803760 -122408531
999  37784770 -122424100

[1000 rows x 2 columns]

> Note that a `DataFrame` can be made of a single column.  E.g., column #7 only:

In [ ]:
# TODO

If the values passed to `[]` are non-integers, the `DataFrame` will attempt to match them to those in the `columns` property.

> Let's subset the `DataFrame` on columns `SalePrice` and `SalePriceUnit`:

In [17]:
df[["SALEPRICE","SALEPRICEUNIT"]].head()

   SALEPRICE SALEPRICEUNIT
0  710000.00             $
1       2.15            $M
2       5.60            $M
3       1.50            $M
4  970000.00             $

However, you cannot mix integers and non-integers.  E.g.,

In [ ]:
# "df[ ['SalePrice', 6] ]" errors out...  Try it!

Not passing a list always results in a value-based lookup of the column:

In [ ]:
df['Address']

> ## `Series`

(http://pandas.pydata.org/pandas-docs/stable/dsintro.html)

> Let's check the result type:

In [49]:
type(df["ADDRESS"])

pandas.core.series.Series

Columns can also be retrieved using "attribute" access as `DataFrame`s add a property for each column with the names of the properties as the names of the columns.  This won't work however for columns that have spaces or dots in their name.

> Let's check the value of `df`'s `.Address` property:

In [57]:
df[["ADDRESS","BEDS"]].columns

Index([u'ADDRESS', u'BEDS'], dtype='object')

> Use the `.name` property (not `.columns`, that's for a `DataFrame`) to get the name of the variable stored inside it.

(http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.name.html)

In [ ]:
# TODO

> To find the zero-based location of a column, use the `.get_loc()` method of the `.columns` property.  E.g.,

(http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Index.get_loc.html)

In [58]:
df.columns

Index([u'ID', u'ADDRESS', u'LATITUDE', u'LONGITUDE', u'DATEOFSALE',
       u'SALEPRICE', u'SALEPRICEUNIT', u'ISASTUDIO', u'BEDS', u'BATHS',
       u'SIZE', u'SIZEUNIT', u'LOTSIZE', u'LOTSIZEUNIT', u'BUILTINYEAR'],
      dtype='object')

In [61]:
df.columns.get_loc("BEDS")

8

We should get the same output as subsetting a `DataFrame` on `Beds`:

In [ ]:
# TODO

> ## `[]`: slicing on rows

> E.g., on the first five rows:

In [ ]:
# TODO

> ## `.loc[]` and `.iloc[]`: subsetting rows by index label and location

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.loc.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.loc.html)

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.iloc.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.iloc.html)

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.set_index.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.set_index.html)

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.reset_index.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.reset_index.html)

Until now, the index of the `DataFrame` is a numerical starting from 0 but you can specify which column(s) should be in the index.

> E.g., `ID`:

In [63]:
df = df.set_index('ID')

In [20]:
df.index

Int64Index([  15063471,   15063505,   15063609,   15064044,   15064257,
              15064295,   15064391,   15064536,   15064640,   15064669,
            ...
            2108546010, 2114498518, 2121221385, 2121978635, 2122992200,
            2124214951, 2126960082, 2128308939, 2131957929, 2136213970],
           dtype='int64', name=u'ID', length=1000)

In [21]:
df.head()

,ADDRESS,LATITUDE,LONGITUDE,DATEOFSALE,SALEPRICE,SALEPRICEUNIT,ISASTUDIO,BEDS,BATHS,SIZE,SIZEUNIT,LOTSIZE,LOTSIZEUNIT,BUILTINYEAR
ID,,,,,,,,,,,,,,
15063471,"55 Vandewater St APT 9, San Francisco, CA",37805103,-122412856,12/4/15,710000.00,$,False,1.0,NaN,550.0,sqft,NaN,NaN,1980.0
15063505,"740 Francisco St, San Francisco, CA",37804420,-122417389,11/30/15,2.15,$M,False,NaN,2.0,1430.0,sqft,2435.0,sqft,1948.0
15063609,"819 Francisco St, San Francisco, CA",37803728,-122419055,11/12/15,5.60,$M,False,2.0,3.5,2040.0,sqft,3920.0,sqft,1976.0
15064044,"199 Chestnut St APT 5, San Francisco, CA",37804392,-122406590,12/11/15,1.50,$M,False,1.0,1.0,1060.0,sqft,NaN,NaN,1930.0
15064257,"111 Chestnut St APT 403, San Francisco, CA",37804240,-122405509,1/15/16,970000.00,$,False,2.0,2.0,1299.0,sqft,NaN,NaN,1993.0

> E.g., row with index 15063505:

In [22]:
df.loc[15063505, "SALEPRICE"]
#[row, column]

2.1499999999999999

Its name is its value in the index.

In [23]:
df.loc[15063505]
#this is a series

ADDRESS          740 Francisco St, San Francisco, CA
LATITUDE                                    37804420
LONGITUDE                                 -122417389
DATEOFSALE                                  11/30/15
SALEPRICE                                       2.15
SALEPRICEUNIT                                     $M
ISASTUDIO                                      False
BEDS                                             NaN
BATHS                                              2
SIZE                                            1430
SIZEUNIT                                        sqft
LOTSIZE                                         2435
LOTSIZEUNIT                                     sqft
BUILTINYEAR                                     1948
Name: 15063505, dtype: object

In [64]:
df.loc[15063505, ["LATITUDE","LONGITUDE"]]

            LATITUDE  LONGITUDE
ID
15063471    37805103 -122412856
15063505    37804420 -122417389
15063609    37803728 -122419055
15064044    37804392 -122406590
15064257    37804240 -122405509
15064295    37804240 -122405509
15064391    37803748 -122408531
15064536    37802408 -122417537
15064640    37801889 -122418704
15064669    37801873 -122418834
15065032    37803470 -122404090
15065140    37802299 -122404941
15065727    37801802 -122404269
15065810    37800260 -122406123
15065946    37799474 -122414835
15066001    37798792 -122416797
15066036    37798792 -122416797
15066085    37798645 -122417500
15066201    37798234 -122417394
15066281    37797920 -122415745
15066344    37798451 -122415218
15066608    37798796 -122404766
15066839    37797445 -122416366
15066959    37795805 -122416840
15067302    37795662 -122410789
15067583    37794715 -122407810
15067604    37794715 -122407810
15067755    37793575 -122413670
15067890    37793071 -122414049
15067896    37793071 -122414049
...              ...        ...
2100992607  37788242 -122430988
2100994004  37736625 -122427008
2101028916  37763202 -122396270
2101094207  37746898 -122409301
2101105851  37761579 -122436123
2101116542  37750270 -122408600
2101147349  37747330 -122415110
2101153805  37779494 -122456412
2101156735  37765266 -122407150
2101167573  37798930 -122421388
2101169168  37752803 -122438919
2101175813  37776218 -122424930
2101331127  37760994 -122489700
2101505254  37788280 -122392100
2101588805  37754504 -122422736
2101807538  37789371 -122436058
2102385068  37770870 -122443840
2102906272  37776170 -122425300
2106229715  37738600 -122496000
2108411930  37760100 -122422000
2108546010  37800910 -122430229
2114498518  37792255 -122401245
2121221385  37786427 -122418222
2121978635  37781429 -122401860
2122992200  37773192 -122424037
2124214951  37800040 -122406100
2126960082  37787029 -122393638
2128308939  37709136 -122465332
2131957929  37803760 -122408531
2136213970  37784770 -122424100

[1000 rows x 2 columns]

> E.g., rows with indices 15063505 and 15064044:

In [25]:
df.loc[[15063505,15064044]]
#this is a dataframe

,ADDRESS,LATITUDE,LONGITUDE,DATEOFSALE,SALEPRICE,SALEPRICEUNIT,ISASTUDIO,BEDS,BATHS,SIZE,SIZEUNIT,LOTSIZE,LOTSIZEUNIT,BUILTINYEAR
ID,,,,,,,,,,,,,,
15063505,"740 Francisco St, San Francisco, CA",37804420,-122417389,11/30/15,2.15,$M,False,NaN,2.0,1430.0,sqft,2435.0,sqft,1948.0
15064044,"199 Chestnut St APT 5, San Francisco, CA",37804392,-122406590,12/11/15,1.50,$M,False,1.0,1.0,1060.0,sqft,NaN,NaN,1930.0

> E.g., rows #1 and #3:

In [26]:
df.iloc[[1,3]]
#just based on numerically ranged index

df.iloc[50:100, 5:10].head
#first part is rows, second part is columns

,ADDRESS,LATITUDE,LONGITUDE,DATEOFSALE,SALEPRICE,SALEPRICEUNIT,ISASTUDIO,BEDS,BATHS,SIZE,SIZEUNIT,LOTSIZE,LOTSIZEUNIT,BUILTINYEAR
ID,,,,,,,,,,,,,,
15063505,"740 Francisco St, San Francisco, CA",37804420,-122417389,11/30/15,2.15,$M,False,NaN,2.0,1430.0,sqft,2435.0,sqft,1948.0
15064044,"199 Chestnut St APT 5, San Francisco, CA",37804392,-122406590,12/11/15,1.50,$M,False,1.0,1.0,1060.0,sqft,NaN,NaN,1930.0

> ## Subsetting rows by Boolean selection (a.k.a., masking)

Rows can also be selected by using Boolean selection, using an array calculated from the result of applying a logical condition on the values in any of the columns.  This allows us to build more complicated selections than those based simply upon index labels or positions.

> E.g., what homes have been built before 1900?

In [66]:
# df[["BUILTINYEAR"]] > 1900
df["BUILTINYEAR"] > 1900

ID
15063471       True
15063505       True
15063609       True
15064044       True
15064257       True
15064295       True
15064391       True
15064536       True
15064640       True
15064669       True
15065032       True
15065140      False
15065727       True
15065810       True
15065946       True
15066001       True
15066036       True
15066085       True
15066201       True
15066281       True
15066344       True
15066608       True
15066839       True
15066959       True
15067302       True
15067583       True
15067604       True
15067755       True
15067890       True
15067896       True
              ...
2100992607    False
2100994004    False
2101028916    False
2101094207     True
2101105851     True
2101116542    False
2101147349     True
2101153805     True
2101156735     True
2101167573     True
2101169168     True
2101175813     True
2101331127     True
2101505254     True
2101588805    False
2101807538    False
2102385068     True
2102906272    False
2106229715     True
2108411930     True
2108546010     True
2114498518     True
2121221385     True
2121978635     True
2122992200    False
2124214951     True
2126960082     True
2128308939     True
2131957929     True
2136213970     True
Name: BUILTINYEAR, Length: 1000, dtype: bool

In [34]:
year_built = df["BUILTINYEAR"]
df.loc[df["BUILTINYEAR"]<1900,:]year_built_mast = year_built < 1900
df.loc[year_built_mask, :]

,ADDRESS,LATITUDE,LONGITUDE,DATEOFSALE,SALEPRICE,SALEPRICEUNIT,ISASTUDIO,BEDS,BATHS,SIZE,SIZEUNIT,LOTSIZE,LOTSIZEUNIT,BUILTINYEAR
ID,,,,,,,,,,,,,,
15065140,"1407 Montgomery St APT 2, San Francisco, CA",37802299,-122404941,1/28/16,976000.00,$,False,1.0,1.0,1000.0,sqft,NaN,NaN,1870.0
15076156,"1533 Sutter St, San Francisco, CA",37786658,-122426481,11/12/15,5.53,$M,False,6.0,7.5,7375.0,sqft,2748.0,sqft,1890.0
15078536,"640 Steiner St, San Francisco, CA",37775399,-122432491,12/15/15,1.50,$M,False,2.0,2.0,1593.0,sqft,NaN,NaN,1895.0
15078866,"753-755 Oak St, San Francisco, CA",37773576,-122431663,11/10/15,375000.00,$,False,NaN,2.0,2430.0,sqft,3781.0,sqft,1890.0
15082108,"3016 Sacramento St, San Francisco, CA",37788970,-122442995,12/22/15,1.85,$M,False,2.0,1.5,1408.0,sqft,NaN,NaN,1890.0
15084954,"1954 Golden Gate Ave, San Francisco, CA",37778420,-122443073,11/24/15,1.10,$M,False,2.0,1.0,1515.0,sqft,NaN,NaN,1895.0
15145720,"956 S Van Ness Ave, San Francisco, CA",37757832,-122417139,11/23/15,2.67,$M,False,4.0,4.0,3500.0,sqft,4165.0,sqft,1872.0
15181209,"1001 Diamond St # 1001A, San Francisco, CA",37749461,-122435844,11/24/15,3.10,$M,False,3.0,2.0,2032.0,sqft,1913.0,sqft,1892.0
63197592,"3021 20th St, San Francisco, CA",37758878,-122411147,12/7/15,1.10,$M,False,1.0,2.0,1267.0,sqft,NaN,NaN,1890.0
82785514,"1394 Mcallister St, San Francisco, CA",37778463,-122434933,11/13/15,2.10,$M,False,3.0,2.5,2300.0,sqft,NaN,NaN,1890.0
114318108,"1442 Grove St # A, San Francisco, CA",37775894,-122440467,12/24/15,675000.00,$,False,1.0,1.0,593.0,sqft,NaN,NaN,1890.0
119684777,"967 Hayes St, San Francisco, CA",37775645,-122432222,12/17/15,1.95,$M,False,4.0,3.0,3006.0,sqft,NaN,NaN,1885.0
123597223,"1954 Golden Gate Ave, San Francisco, CA",37778246,-122442763,11/24/15,1.10,$M,False,2.0,1.0,1275.0,sqft,NaN,NaN,1895.0
123597388,"667 Shotwell St # A, San Francisco, CA",37757851,-122415629,2/10/16,775000.00,$,False,1.0,1.0,1212.0,sqft,NaN,NaN,1890.0
2122992200,"129 Octavia St, San Francisco, CA",37773192,-122424037,11/20/15,2.75,$M,True,NaN,NaN,3655.0,sqft,NaN,NaN,1883.0

In [71]:
year_built_mask = df["BUILTINYEAR"] < 1900

salesprice_mask = df["SALEPRICE"] < 10

df.loc[year_built_mask, :]
#type of the mask is series

,ADDRESS,LATITUDE,LONGITUDE,DATEOFSALE,SALEPRICE,SALEPRICEUNIT,ISASTUDIO,BEDS,BATHS,SIZE,SIZEUNIT,LOTSIZE,LOTSIZEUNIT,BUILTINYEAR
ID,,,,,,,,,,,,,,
15065140,"1407 Montgomery St APT 2, San Francisco, CA",37802299,-122404941,1/28/16,976000.00,$,False,1.0,1.0,1000.0,sqft,NaN,NaN,1870.0
15076156,"1533 Sutter St, San Francisco, CA",37786658,-122426481,11/12/15,5.53,$M,False,6.0,7.5,7375.0,sqft,2748.0,sqft,1890.0
15078536,"640 Steiner St, San Francisco, CA",37775399,-122432491,12/15/15,1.50,$M,False,2.0,2.0,1593.0,sqft,NaN,NaN,1895.0
15078866,"753-755 Oak St, San Francisco, CA",37773576,-122431663,11/10/15,375000.00,$,False,NaN,2.0,2430.0,sqft,3781.0,sqft,1890.0
15082108,"3016 Sacramento St, San Francisco, CA",37788970,-122442995,12/22/15,1.85,$M,False,2.0,1.5,1408.0,sqft,NaN,NaN,1890.0
15084954,"1954 Golden Gate Ave, San Francisco, CA",37778420,-122443073,11/24/15,1.10,$M,False,2.0,1.0,1515.0,sqft,NaN,NaN,1895.0
15145720,"956 S Van Ness Ave, San Francisco, CA",37757832,-122417139,11/23/15,2.67,$M,False,4.0,4.0,3500.0,sqft,4165.0,sqft,1872.0
15181209,"1001 Diamond St # 1001A, San Francisco, CA",37749461,-122435844,11/24/15,3.10,$M,False,3.0,2.0,2032.0,sqft,1913.0,sqft,1892.0
63197592,"3021 20th St, San Francisco, CA",37758878,-122411147,12/7/15,1.10,$M,False,1.0,2.0,1267.0,sqft,NaN,NaN,1890.0
82785514,"1394 Mcallister St, San Francisco, CA",37778463,-122434933,11/13/15,2.10,$M,False,3.0,2.5,2300.0,sqft,NaN,NaN,1890.0
114318108,"1442 Grove St # A, San Francisco, CA",37775894,-122440467,12/24/15,675000.00,$,False,1.0,1.0,593.0,sqft,NaN,NaN,1890.0
119684777,"967 Hayes St, San Francisco, CA",37775645,-122432222,12/17/15,1.95,$M,False,4.0,3.0,3006.0,sqft,NaN,NaN,1885.0
123597223,"1954 Golden Gate Ave, San Francisco, CA",37778246,-122442763,11/24/15,1.10,$M,False,2.0,1.0,1275.0,sqft,NaN,NaN,1895.0
123597388,"667 Shotwell St # A, San Francisco, CA",37757851,-122415629,2/10/16,775000.00,$,False,1.0,1.0,1212.0,sqft,NaN,NaN,1890.0
2122992200,"129 Octavia St, San Francisco, CA",37773192,-122424037,11/20/15,2.75,$M,True,NaN,NaN,3655.0,sqft,NaN,NaN,1883.0

In [30]:
df["BUILTINYEAR"]
df[["BUILTINYEAR"]]
#two brackets make it a data frame

            BUILTINYEAR
ID
15063471         1980.0
15063505         1948.0
15063609         1976.0
15064044         1930.0
15064257         1993.0
15064295         1993.0
15064391         1975.0
15064536         1913.0
15064640         1948.0
15064669         1986.0
15065032         1983.0
15065140         1870.0
15065727         1937.0
15065810         1906.0
15065946         1980.0
15066001         1963.0
15066036         1963.0
15066085         1907.0
15066201         1930.0
15066281         1922.0
15066344         1964.0
15066608         1973.0
15066839         1913.0
15066959         1910.0
15067302         1908.0
15067583         1970.0
15067604         1970.0
15067755         1950.0
15067890         1929.0
15067896         1929.0
...                 ...
2100992607          NaN
2100994004          NaN
2101028916       1900.0
2101094207       1904.0
2101105851       1908.0
2101116542       1900.0
2101147349       1908.0
2101153805       1941.0
2101156735       1905.0
2101167573       1951.0
2101169168       1908.0
2101175813       1909.0
2101331127       2008.0
2101505254       2015.0
2101588805          NaN
2101807538       1900.0
2102385068       1905.0
2102906272          NaN
2106229715       1943.0
2108411930       2013.0
2108546010       2004.0
2114498518       1909.0
2121221385       1907.0
2121978635       2010.0
2122992200       1883.0
2124214951       2012.0
2126960082       2004.0
2128308939       1976.0
2131957929       1975.0
2136213970       1966.0

[1000 rows x 1 columns]

> Let's subset on that `Series`:

In [40]:
df.loc[(df["BUILTINYEAR"] < 1900) & (df["SIZE"] > 1500)]

,ADDRESS,LATITUDE,LONGITUDE,DATEOFSALE,SALEPRICE,SALEPRICEUNIT,ISASTUDIO,BEDS,BATHS,SIZE,SIZEUNIT,LOTSIZE,LOTSIZEUNIT,BUILTINYEAR
ID,,,,,,,,,,,,,,
15076156,"1533 Sutter St, San Francisco, CA",37786658,-122426481,11/12/15,5.53,$M,False,6.0,7.5,7375.0,sqft,2748.0,sqft,1890.0
15078536,"640 Steiner St, San Francisco, CA",37775399,-122432491,12/15/15,1.50,$M,False,2.0,2.0,1593.0,sqft,NaN,NaN,1895.0
15078866,"753-755 Oak St, San Francisco, CA",37773576,-122431663,11/10/15,375000.00,$,False,NaN,2.0,2430.0,sqft,3781.0,sqft,1890.0
15084954,"1954 Golden Gate Ave, San Francisco, CA",37778420,-122443073,11/24/15,1.10,$M,False,2.0,1.0,1515.0,sqft,NaN,NaN,1895.0
15145720,"956 S Van Ness Ave, San Francisco, CA",37757832,-122417139,11/23/15,2.67,$M,False,4.0,4.0,3500.0,sqft,4165.0,sqft,1872.0
15181209,"1001 Diamond St # 1001A, San Francisco, CA",37749461,-122435844,11/24/15,3.10,$M,False,3.0,2.0,2032.0,sqft,1913.0,sqft,1892.0
82785514,"1394 Mcallister St, San Francisco, CA",37778463,-122434933,11/13/15,2.10,$M,False,3.0,2.5,2300.0,sqft,NaN,NaN,1890.0
119684777,"967 Hayes St, San Francisco, CA",37775645,-122432222,12/17/15,1.95,$M,False,4.0,3.0,3006.0,sqft,NaN,NaN,1885.0
2122992200,"129 Octavia St, San Francisco, CA",37773192,-122424037,11/20/15,2.75,$M,True,NaN,NaN,3655.0,sqft,NaN,NaN,1883.0

Multiple conditions can be put together.

> E.g., subset for `BuiltInYear` below 1900 and `Size` over 1500:

It is possible to subset on columns simultaneously.

> E.g., subset (a `DataFrame`) on `Address` for `BuiltInYear` below 1900 and `Size` over 1500:

In [ ]:
# TODO

> To get a `Series` instead of a `DataFrame`:

In [ ]:
# TODO

## Part B - Wrangling the SF Housing dataset (take 2) with `pandas`

In [72]:
df = pd.read_csv("../datasets/dataset-02-zillow-starter.csv", index_col = 'ID')

In [59]:
df = pd.read_csv("../datasets/dataset-02-zillow-starter.csv")

(`pd.read_csv` can load the dataset and set the index column for the `DataFrame` at the same time)

> ### Remove the `Latitude` and `Longitude` columns

(http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.drop.html)

In [73]:
df = df.drop(["Latitude","Longitude"], axis = 1)

In [44]:
#pandas dont actually manipulate the table; it creates a copy and then manipulate that table

In [74]:
df

,Address,DateOfSale,SalePrice,SalePriceUnit,IsAStudio,Beds,Baths,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
ID,,,,,,,,,,,,
15063471,"55 Vandewater St APT 9, San Francisco, CA",12/4/15,710000.00,$,False,1.0,NaN,550.0,sqft,NaN,NaN,1980.0
15063505,"740 Francisco St, San Francisco, CA",11/30/15,2.15,$M,False,NaN,2.0,1430.0,sqft,2435.0,sqft,1948.0
15063609,"819 Francisco St, San Francisco, CA",11/12/15,5.60,$M,False,2.0,3.5,2040.0,sqft,3920.0,sqft,1976.0
15064044,"199 Chestnut St APT 5, San Francisco, CA",12/11/15,1.50,$M,False,1.0,1.0,1060.0,sqft,NaN,NaN,1930.0
15064257,"111 Chestnut St APT 403, San Francisco, CA",1/15/16,970000.00,$,False,2.0,2.0,1299.0,sqft,NaN,NaN,1993.0
15064295,"111 Chestnut St APT 702, San Francisco, CA",12/17/15,940000.00,$,False,2.0,2.0,1033.0,sqft,NaN,NaN,1993.0
15064391,"1821 Grant Ave APT 101, San Francisco, CA",12/15/15,835000.00,$,False,1.0,1.0,1048.0,sqft,NaN,NaN,1975.0
15064536,"2300 Leavenworth St, San Francisco, CA",12/4/15,2.83,$M,False,3.0,2.0,2115.0,sqft,1271.0,sqft,1913.0
15064640,"1047-1049 Lombard St, San Francisco, CA",1/14/16,4.05,$M,True,NaN,NaN,4102.0,sqft,3049.0,sqft,1948.0
15064669,"1055 Lombard St # C, San Francisco, CA",12/31/15,2.19,$M,False,2.0,3.0,1182.0,sqft,NaN,NaN,1986.0
15065032,"101 Lombard St APT 116E, San Francisco, CA",12/7/15,800000.00,$,False,1.0,1.0,1000.0,sqft,NaN,NaN,1983.0
15065140,"1407 Montgomery St APT 2, San Francisco, CA",1/28/16,976000.00,$,False,1.0,1.0,1000.0,sqft,NaN,NaN,1870.0
15065727,"1360 Montgomery St APT 1, San Francisco, CA",11/16/15,720000.00,$,False,1.0,1.0,552.0,sqft,NaN,NaN,1937.0
15065810,"1327-1329 Kearny St, San Francisco, CA",11/25/15,2.25,$M,False,NaN,4.0,2658.0,sqft,1600.0,sqft,1906.0
15065946,"44 Macondray Ln APT 2E, San Francisco, CA",11/30/15,1.29,$M,False,2.0,2.0,1165.0,sqft,NaN,NaN,1980.0
15066001,"1070 Green St APT 201, San Francisco, CA",11/18/15,2.90,$M,False,2.0,2.0,1465.0,sqft,NaN,NaN,1963.0
15066036,"1070 Green St APT 1402, San Francisco, CA",12/31/15,2.60,$M,False,3.0,2.5,2017.0,sqft,NaN,NaN,1963.0
15066085,"1907 Leavenworth St APT 8, San Francisco, CA",11/12/15,908000.00,$,False,2.0,1.0,956.0,sqft,NaN,NaN,1907.0
15066201,"1101 Green St # 303, San Francisco, CA",11/16/15,1.21,$M,False,2.0,1.0,1003.0,sqft,NaN,NaN,1930.0
15066281,"1807 Jones St, San Francisco, CA",12/15/15,1.70,$M,False,2.0,2.0,1467.0,sqft,3023.0,sqft,1922.0
15066344,"999 Green St APT 905, San Francisco, CA",12/10/15,1.28,$M,False,1.0,1.0,986.0,sqft,NaN,NaN,1964.0
15066608,"455 Vallejo St APT 111, San Francisco, CA",12/16/15,875000.00,$,False,1.0,1.0,825.0,sqft,NaN,NaN,1973.0
15066839,"1163-1165 Vallejo St, San Francisco, CA",12/1/15,300000.00,$,False,NaN,2.0,2344.0,sqft,1376.0,sqft,1913.0
15066959,"1300 Pacific Ave, San Francisco, CA",1/14/16,425000.00,$,True,NaN,2.0,989.0,sqft,NaN,NaN,1910.0
15067302,"948 Jackson St, San Francisco, CA",11/13/15,1.95,$M,False,NaN,4.0,4362.0,sqft,1459.0,sqft,1908.0
15067583,"946 Stockton St APT 6B, San Francisco, CA",12/18/15,775000.00,$,False,NaN,2.0,710.0,sqft,NaN,NaN,1970.0
15067604,"946 Stockton St APT 9E, San Francisco, CA",12/2/15,705000.00,$,False,2.0,2.0,744.0,sqft,NaN,NaN,1970.0
15067755,"1250 Clay St APT 306, San Francisco, CA",1/10/16,695000.00,$,False,1.0,1.0,541.0,sqft,NaN,NaN,1950.0
15067890,"1250 Jones St APT 503, San Francisco, CA",12/4/15,1.41,$M,False,1.0,1.0,1250.0,sqft,NaN,NaN,1929.0
15067896,"1250 Jones St APT 802, San Francisco, CA",12/15/15,1.68,$M,False,1.0,1.0,1115.0,sqft,NaN,NaN,1929.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2100992607,"2137 Pine St, San Francisco, CA",1/15/16,1.55,$M,False,4.0,2.5,1632.0,sqft,NaN,NaN,NaN
2100994004,"409 Miguel St, San Francisco, CA",12/9/15,510000.00,$,False,1.0,1.0,400.0,sqft,NaN,NaN,NaN
2101028916,"251 Missouri St, San Francisco, CA",12/17/15,2.45,$M,False,4.0,3.0,2301.0,sqft,NaN,NaN,1900.0
2101094207,"1650 Florida St, San Francisco, CA",11/29/15,970000.00,$,False,3.0,1.0,NaN,NaN,NaN,NaN,1904.0
2101105851,"41 Collingwood St, San Francisco, CA",12/10/15,1.30,$M,False,3.0,1.0,1496.0,sqft,NaN,NaN,1908.0
2101116542,"2753 Bryant St, San Francisco, CA",1/14/16,1.70,$M,False,9.0,3.0,4005.0,sqft,NaN,NaN,1900.0
2101147349,"244 Precita Ave, San Francisco, CA",11/26/15,785000.00,$,False,1.0,1.0,625.0,sqft,NaN,NaN,1908.0
2101153805,"6 Rossi Ave, San Francisco, CA",12/2/15,1.15,$M,False,3.0,1.0,1912.0,sqft,NaN,NaN,1941.0
2101156735,"333 Potrero Ave, San Francisco, CA",1/5/16,1.14,$M,True,NaN,NaN,1776.0,sqft,3746.0,sqft,1905.0
2101167573,"1340 Union St, San Francisco, CA",1/25/16,1.25,$M,False,2.0,2.0,1108.0,sqft,NaN,NaN,1951.0
2101169168,"688 Douglass St, San Francisco, CA",11/10/15,3.15,$M,True,NaN,NaN,3500.0,sqft,2495.0,sqft,1908.0
2101175813,"414 Linden St, San Francisco, CA",12/13/15,835000.00,$,False,1.0,1.0,NaN,NaN,NaN,NaN,1909.0
2101331127,"1408 31st Ave APT 303, San Francisco, CA",12/28/15,890000.00,$,False,2.0,2.0,1424.0,sqft,NaN,NaN,2008.0
2101505254,"333 Beale St, San Francisco, CA",12/3/15,1.40,$M,False,1.0,1.0,950.0,sqft,NaN,NaN,2015.0
2101588805,"82 Alvarado St, San Francisco, CA",11/19/15,750000.00,$,False,2.0,1.0,NaN,NaN,NaN,NaN,NaN
2101807538,"2619 Sacramento St, San Francisco, CA",12/2/15,2.90,$M,True,NaN,NaN,NaN,NaN,2038.0,sqft,1900.0
2102385068,"129 Central Ave, San Francisco, CA",12/1/15,1.80,$M,False,3.0,2.0,NaN,NaN,NaN,NaN,1905.0
2102906272,"444 Linden St, San Francisco, CA",12/14/15,5800.00,$,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2106229715,"2595 38th Ave, San Francisco, CA",1/19/16,1.24,$M,False,3.0,3.0,2414.0,sqft,1306.0,sqft,1943.0
2108411930,"3500 19th St, San Francisco, CA",12/29/15,1.73,$M,False,2.0,2.5,1500.0,sqft,NaN,NaN,2013.0
2108546010,"1738 Lombard St APT 4, San Francisco, CA",1/14/16,1.40,$M,False,2.0,2.0,NaN,NaN,NaN,NaN,2004.0
2114498518,"201 Sansome St UNIT 501, San Francisco, CA",1/26/16,757500.00,$,False,1.0,1.0,658.0,sqft,NaN,NaN,1909.0
2121221385,"925 Larkin St, San Francisco, CA",11/30/15,1.43,$M,False,NaN,NaN,6600.0,sqft,NaN,NaN,1907.0
2121978635,"829 Folsom St UNIT 906, San Francisco, CA",12/6/15,675000.00,$,False,1.0,1.0,557.0,sqft,NaN,NaN,2010.0
2122992200,"129 Octavia St, San Francisco, CA",11/20/15,2.75,$M,True,NaN,NaN,3655.0,sqft,NaN,NaN,1883.0
2124214951,"412 Green St APT A, San Francisco, CA",1/15/16,390000.00,$,True,NaN,1.0,264.0,sqft,NaN,NaN,2012.0
2126960082,"355 1st St UNIT 1905, San Francisco, CA",11/20/15,860000.00,$,False,1.0,1.0,691.0,sqft,NaN,NaN,2004.0
2128308939,"33 Santa Cruz Ave, San Francisco, CA",12/10/15,830000.00,$,False,3.0,3.0,1738.0,sqft,2299.0,sqft,1976.0
2131957929,"1821 Grant Ave, San Francisco, CA",12/15/15,835000.00,$,False,2.0,2.0,1048.0,sqft,NaN,NaN,1975.0
2136213970,"1200 Gough St, San Francisco, CA",1/10/16,825000.00,$,False,1.0,1.0,900.0,sqft,NaN,NaN,1966.0

> ### `SalePrice`: scale all amount to `$M`

- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.unique.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.concat.html)
- (http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sort_index.html)

In [81]:
df["SalePriceUnit"].unique()

array(['$', '$M'], dtype=object)

In [82]:
df.SalePriceUnit.unique()

array(['$', '$M'], dtype=object)

In [113]:
sales_dollar = df['SalePriceUnit'] == '$'
df['new_column'] = df['SalePrice'] / 1000000
df_1 = df.loc[sales_dollar]
df_1

sales_mm = df.SalePriceUnit == '$M'
df['new_column'] = df['SalePrice']
df_2 = df.loc[sales_mm]
df_2

,Address,DateOfSale,SalePrice,SalePriceUnit,IsAStudio,Beds,Baths,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear,new_column
ID,,,,,,,,,,,,,
15063505,"740 Francisco St, San Francisco, CA",11/30/15,2.15,$M,False,NaN,2.0,1430.0,sqft,2435.0,sqft,1948.0,2.15
15063609,"819 Francisco St, San Francisco, CA",11/12/15,5.60,$M,False,2.0,3.5,2040.0,sqft,3920.0,sqft,1976.0,5.60
15064044,"199 Chestnut St APT 5, San Francisco, CA",12/11/15,1.50,$M,False,1.0,1.0,1060.0,sqft,NaN,NaN,1930.0,1.50
15064536,"2300 Leavenworth St, San Francisco, CA",12/4/15,2.83,$M,False,3.0,2.0,2115.0,sqft,1271.0,sqft,1913.0,2.83
15064640,"1047-1049 Lombard St, San Francisco, CA",1/14/16,4.05,$M,True,NaN,NaN,4102.0,sqft,3049.0,sqft,1948.0,4.05
15064669,"1055 Lombard St # C, San Francisco, CA",12/31/15,2.19,$M,False,2.0,3.0,1182.0,sqft,NaN,NaN,1986.0,2.19
15065810,"1327-1329 Kearny St, San Francisco, CA",11/25/15,2.25,$M,False,NaN,4.0,2658.0,sqft,1600.0,sqft,1906.0,2.25
15065946,"44 Macondray Ln APT 2E, San Francisco, CA",11/30/15,1.29,$M,False,2.0,2.0,1165.0,sqft,NaN,NaN,1980.0,1.29
15066001,"1070 Green St APT 201, San Francisco, CA",11/18/15,2.90,$M,False,2.0,2.0,1465.0,sqft,NaN,NaN,1963.0,2.90
15066036,"1070 Green St APT 1402, San Francisco, CA",12/31/15,2.60,$M,False,3.0,2.5,2017.0,sqft,NaN,NaN,1963.0,2.60
15066201,"1101 Green St # 303, San Francisco, CA",11/16/15,1.21,$M,False,2.0,1.0,1003.0,sqft,NaN,NaN,1930.0,1.21
15066281,"1807 Jones St, San Francisco, CA",12/15/15,1.70,$M,False,2.0,2.0,1467.0,sqft,3023.0,sqft,1922.0,1.70
15066344,"999 Green St APT 905, San Francisco, CA",12/10/15,1.28,$M,False,1.0,1.0,986.0,sqft,NaN,NaN,1964.0,1.28
15067302,"948 Jackson St, San Francisco, CA",11/13/15,1.95,$M,False,NaN,4.0,4362.0,sqft,1459.0,sqft,1908.0,1.95
15067890,"1250 Jones St APT 503, San Francisco, CA",12/4/15,1.41,$M,False,1.0,1.0,1250.0,sqft,NaN,NaN,1929.0,1.41
15067896,"1250 Jones St APT 802, San Francisco, CA",12/15/15,1.68,$M,False,1.0,1.0,1115.0,sqft,NaN,NaN,1929.0,1.68
15068039,"1170 Sacramento St APT 9B, San Francisco, CA",12/3/15,3.80,$M,False,2.0,2.0,1961.0,sqft,NaN,NaN,1963.0,3.80
15068767,"767-771 Pine St, San Francisco, CA",12/31/15,2.49,$M,False,NaN,4.0,4605.0,sqft,1376.0,sqft,1909.0,2.49
15069276,"795 Sutter St # 303, San Francisco, CA",11/15/15,1.20,$M,False,3.0,2.0,1753.0,sqft,NaN,NaN,1913.0,1.20
15069628,"47-49 Casa Way, San Francisco, CA",11/25/15,3.80,$M,False,3.0,NaN,3905.0,sqft,2748.0,sqft,1939.0,3.80
15069883,"59 Rico Way, San Francisco, CA",12/21/15,2.55,$M,False,3.0,1.5,1675.0,sqft,2613.0,sqft,1925.0,2.55
15070227,"134 Alhambra St, San Francisco, CA",1/18/16,3.08,$M,False,3.0,3.0,2599.0,sqft,3005.0,sqft,1925.0,3.08
15070235,"180 Alhambra St, San Francisco, CA",12/7/15,3.33,$M,False,NaN,2.0,2864.0,sqft,2286.0,sqft,1925.0,3.33
15070255,"146 Avila St, San Francisco, CA",12/23/15,3.02,$M,False,3.0,3.0,2100.0,sqft,2495.0,sqft,1924.0,3.02
15070544,"1051-1053 Francisco St, San Francisco, CA",12/1/15,9.71,$M,False,5.0,6.0,4650.0,sqft,4726.0,sqft,1953.0,9.71
15070728,"3315 Pierce St, San Francisco, CA",1/6/16,2.50,$M,False,3.0,3.5,2255.0,sqft,2500.0,sqft,1925.0,2.50
15070807,"1763-1765 Chestnut St, San Francisco, CA",12/1/15,1.38,$M,False,NaN,3.0,3260.0,sqft,3000.0,sqft,1920.0,1.38
15071199,"2374-2376 Greenwich St, San Francisco, CA",11/23/15,6.00,$M,False,4.0,5.0,4178.0,sqft,2495.0,sqft,1938.0,6.00
15071224,"3126 Scott St APT 2, San Francisco, CA",12/7/15,1.35,$M,False,2.0,2.0,1367.0,sqft,NaN,NaN,1970.0,1.35
15071286,"3038 Pierce St, San Francisco, CA",12/7/15,1.15,$M,False,2.0,2.0,1150.0,sqft,NaN,NaN,1906.0,1.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2100170419,"3947 17th Street, San Francisco, CA",2/4/16,1.25,$M,False,2.0,3.0,1250.0,sqft,NaN,NaN,1910.0,1.25
2100643449,"2149 Lyon St APT 4, San Francisco, CA",12/27/15,1.10,$M,False,2.0,1.5,NaN,NaN,NaN,NaN,1907.0,1.10
2100646549,"1529 Golden Gate Ave, San Francisco, CA",1/7/16,2.00,$M,False,2.0,2.0,2120.0,sqft,NaN,NaN,1900.0,2.00
2100651320,"3330 Clay St # C, San Francisco, CA",1/5/16,1.21,$M,False,2.0,2.0,1283.0,sqft,NaN,NaN,1910.0,1.21
2100695464,"532 Lyon St, San Francisco, CA",11/24/15,4.50,$M,False,5.0,5.0,NaN,NaN,3044.0,sqft,1904.0,4.50
2100695466,"980 Baker St APT 3, San Francisco, CA",12/22/15,1.75,$M,False,3.0,2.0,1758.0,sqft,NaN,NaN,1961.0,1.75
2100830039,"1731 Larkin St APT 3, San Francisco, CA",2/9/16,1.29,$M,False,2.0,2.0,NaN,NaN,NaN,NaN,NaN,1.29
2100831587,"164 Parker Ave # B, San Francisco, CA",12/3/15,1.21,$M,False,2.0,1.0,NaN,NaN,NaN,NaN,NaN,1.21
2100831588,"164 Parker Ave # A, San Francisco, CA",11/19/15,1.16,$M,False,2.0,1.0,NaN,NaN,NaN,NaN,NaN,1.16
2100831589,"181 Noe St, San Francisco, CA",11/22/15,1.23,$M,False,3.0,1.0,NaN,NaN,NaN,NaN,NaN,1.23
2100835351,"1676 Newcomb Ave, San Francisco, CA",12/8/15,1.60,$M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1900.0,1.60
2100850402,"1915 Diamond St, San Francisco, CA",12/29/15,1.80,$M,False,4.0,3.0,2400.0,sqft,4356.0,sqft,1910.0,1.80
2100861826,"1606 Jones St, San Francisco, CA",12/11/15,2.80,$M,False,NaN,NaN,4035.0,sqft,NaN,NaN,1907.0,2.80
2100901630,"1890 Jefferson Street #302, San Francisco, CA",2/4/16,1.07,$M,False,2.0,1.0,1018.0,sqft,NaN,NaN,1934.0,1.07
2100992607,"2137 Pine St, San Francisco, CA",1/15/16,1.55,$M,False,4.0,2.5,1632.0,sqft,NaN,NaN,NaN,1.55
2101028916,"251 Missouri St, San Francisco, CA",12/17/15,2.45,$M,False,4.0,3.0,2301.0,sqft,NaN,NaN,1900.0,2.45
2101105851,"41 Collingwood St, San Francisco, CA",12/10/15,1.30,$M,False,3.0,1.0,1496.0,sqft,NaN,NaN,1908.0,1.30
2101116542,"2753 Bryant St, San Francisco, CA",1/14/16,1.70,$M,False,9.0,3.0,4005.0,sqft,NaN,NaN,1900.0,1.70
2101153805,"6 Rossi Ave, San Francisco, CA",12/2/15,1.15,$M,False,3.0,1.0,1912.0,sqft,NaN,NaN,1941.0,1.15
2101156735,"333 Potrero Ave, San Francisco, CA",1/5/16,1.14,$M,True,NaN,NaN,1776.0,sqft,3746.0,sqft,1905.0,1.14
2101167573,"1340 Union St, San Francisco, CA",1/25/16,1.25,$M,False,2.0,2.0,1108.0,sqft,NaN,NaN,1951.0,1.25
2101169168,"688 Douglass St, San Francisco, CA",11/10/15,3.15,$M,True,NaN,NaN,3500.0,sqft,2495.0,sqft,1908.0,3.15
2101505254,"333 Beale St, San Francisco, CA",12/3/15,1.40,$M,False,1.0,1.0,950.0,sqft,NaN,NaN,2015.0,1.40
2101807538,"2619 Sacramento St, San Francisco, CA",12/2/15,2.90,$M,True,NaN,NaN,NaN,NaN,2038.0,sqft,1900.0,2.90
2102385068,"129 Central Ave, San Francisco, CA",12/1/15,1.80,$M,False,3.0,2.0,NaN,NaN,NaN,NaN,1905.0,1.80
2106229715,"2595 38th Ave, San Francisco, CA",1/19/16,1.24,$M,False,3.0,3.0,2414.0,sqft,1306.0,sqft,1943.0,1.24
2108411930,"3500 19th St, San Francisco, CA",12/29/15,1.73,$M,False,2.0,2.5,1500.0,sqft,NaN,NaN,2013.0,1.73
2108546010,"1738 Lombard St APT 4, San Francisco, CA",1/14/16,1.40,$M,False,2.0,2.0,NaN,NaN,NaN,NaN,2004.0,1.40
2121221385,"925 Larkin St, San Francisco, CA",11/30/15,1.43,$M,False,NaN,NaN,6600.0,sqft,NaN,NaN,1907.0,1.43
2122992200,"129 Octavia St, San Francisco, CA",11/20/15,2.75,$M,True,NaN,NaN,3655.0,sqft,NaN,NaN,1883.0,2.75

In [114]:
# Concatenate of two DataFrames by rows
df = pd.concat([df_1, df_2])

In [115]:
# Resort the new DataFrame
df.sort_index(inplace = True)

In [116]:
df.head()

,Address,DateOfSale,SalePrice,SalePriceUnit,IsAStudio,Beds,Baths,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear,new_column
ID,,,,,,,,,,,,,
15063471,"55 Vandewater St APT 9, San Francisco, CA",12/4/15,710000.00,$,False,1.0,NaN,550.0,sqft,NaN,NaN,1980.0,0.71
15063505,"740 Francisco St, San Francisco, CA",11/30/15,2.15,$M,False,NaN,2.0,1430.0,sqft,2435.0,sqft,1948.0,2.15
15063609,"819 Francisco St, San Francisco, CA",11/12/15,5.60,$M,False,2.0,3.5,2040.0,sqft,3920.0,sqft,1976.0,5.60
15064044,"199 Chestnut St APT 5, San Francisco, CA",12/11/15,1.50,$M,False,1.0,1.0,1060.0,sqft,NaN,NaN,1930.0,1.50
15064257,"111 Chestnut St APT 403, San Francisco, CA",1/15/16,970000.00,$,False,2.0,2.0,1299.0,sqft,NaN,NaN,1993.0,0.97

> ### `IsAStudio`: convert from a Boolean to a binary variable (i.e., 0 or 1)

In [ ]:
# TODO

In [119]:
df["IsAStudio_b"] = df["IsAStudio"] * 1
df["IsAStudio_b"]

ID
15063471        0
15063505        0
15063609        0
15064044        0
15064257        0
15064295        0
15064391        0
15064536        0
15064640        1
15064669        0
15065032        0
15065140        0
15065727        0
15065810        0
15065946        0
15066001        0
15066036        0
15066085        0
15066201        0
15066281        0
15066344        0
15066608        0
15066839        0
15066959        1
15067302        0
15067583        0
15067604        0
15067755        0
15067890        0
15067896        0
             ...
2100992607      0
2100994004      0
2101028916      0
2101094207      0
2101105851      0
2101116542      0
2101147349      0
2101153805      0
2101156735      1
2101167573      0
2101169168      1
2101175813      0
2101331127      0
2101505254      0
2101588805      0
2101807538      1
2102385068      0
2102906272    NaN
2106229715      0
2108411930      0
2108546010      0
2114498518      0
2121221385      0
2121978635      0
2122992200      1
2124214951      1
2126960082      0
2128308939      0
2131957929      0
2136213970      0
Name: IsAStudio_b, Length: 1000, dtype: object

In [122]:
df["IsAStudio"] = df["IsAStudio"].map({True: 1, False:0})
df

,Address,DateOfSale,SalePrice,SalePriceUnit,IsAStudio,Beds,Baths,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear,new_column,IsAStudio_b
ID,,,,,,,,,,,,,,
15063471,"55 Vandewater St APT 9, San Francisco, CA",12/4/15,710000.00,$,0.0,1.0,NaN,550.0,sqft,NaN,NaN,1980.0,0.7100,0
15063505,"740 Francisco St, San Francisco, CA",11/30/15,2.15,$M,0.0,NaN,2.0,1430.0,sqft,2435.0,sqft,1948.0,2.1500,0
15063609,"819 Francisco St, San Francisco, CA",11/12/15,5.60,$M,0.0,2.0,3.5,2040.0,sqft,3920.0,sqft,1976.0,5.6000,0
15064044,"199 Chestnut St APT 5, San Francisco, CA",12/11/15,1.50,$M,0.0,1.0,1.0,1060.0,sqft,NaN,NaN,1930.0,1.5000,0
15064257,"111 Chestnut St APT 403, San Francisco, CA",1/15/16,970000.00,$,0.0,2.0,2.0,1299.0,sqft,NaN,NaN,1993.0,0.9700,0
15064295,"111 Chestnut St APT 702, San Francisco, CA",12/17/15,940000.00,$,0.0,2.0,2.0,1033.0,sqft,NaN,NaN,1993.0,0.9400,0
15064391,"1821 Grant Ave APT 101, San Francisco, CA",12/15/15,835000.00,$,0.0,1.0,1.0,1048.0,sqft,NaN,NaN,1975.0,0.8350,0
15064536,"2300 Leavenworth St, San Francisco, CA",12/4/15,2.83,$M,0.0,3.0,2.0,2115.0,sqft,1271.0,sqft,1913.0,2.8300,0
15064640,"1047-1049 Lombard St, San Francisco, CA",1/14/16,4.05,$M,1.0,NaN,NaN,4102.0,sqft,3049.0,sqft,1948.0,4.0500,1
15064669,"1055 Lombard St # C, San Francisco, CA",12/31/15,2.19,$M,0.0,2.0,3.0,1182.0,sqft,NaN,NaN,1986.0,2.1900,0
15065032,"101 Lombard St APT 116E, San Francisco, CA",12/7/15,800000.00,$,0.0,1.0,1.0,1000.0,sqft,NaN,NaN,1983.0,0.8000,0
15065140,"1407 Montgomery St APT 2, San Francisco, CA",1/28/16,976000.00,$,0.0,1.0,1.0,1000.0,sqft,NaN,NaN,1870.0,0.9760,0
15065727,"1360 Montgomery St APT 1, San Francisco, CA",11/16/15,720000.00,$,0.0,1.0,1.0,552.0,sqft,NaN,NaN,1937.0,0.7200,0
15065810,"1327-1329 Kearny St, San Francisco, CA",11/25/15,2.25,$M,0.0,NaN,4.0,2658.0,sqft,1600.0,sqft,1906.0,2.2500,0
15065946,"44 Macondray Ln APT 2E, San Francisco, CA",11/30/15,1.29,$M,0.0,2.0,2.0,1165.0,sqft,NaN,NaN,1980.0,1.2900,0
15066001,"1070 Green St APT 201, San Francisco, CA",11/18/15,2.90,$M,0.0,2.0,2.0,1465.0,sqft,NaN,NaN,1963.0,2.9000,0
15066036,"1070 Green St APT 1402, San Francisco, CA",12/31/15,2.60,$M,0.0,3.0,2.5,2017.0,sqft,NaN,NaN,1963.0,2.6000,0
15066085,"1907 Leavenworth St APT 8, San Francisco, CA",11/12/15,908000.00,$,0.0,2.0,1.0,956.0,sqft,NaN,NaN,1907.0,0.9080,0
15066201,"1101 Green St # 303, San Francisco, CA",11/16/15,1.21,$M,0.0,2.0,1.0,1003.0,sqft,NaN,NaN,1930.0,1.2100,0
15066281,"1807 Jones St, San Francisco, CA",12/15/15,1.70,$M,0.0,2.0,2.0,1467.0,sqft,3023.0,sqft,1922.0,1.7000,0
15066344,"999 Green St APT 905, San Francisco, CA",12/10/15,1.28,$M,0.0,1.0,1.0,986.0,sqft,NaN,NaN,1964.0,1.2800,0
15066608,"455 Vallejo St APT 111, San Francisco, CA",12/16/15,875000.00,$,0.0,1.0,1.0,825.0,sqft,NaN,NaN,1973.0,0.8750,0
15066839,"1163-1165 Vallejo St, San Francisco, CA",12/1/15,300000.00,$,0.0,NaN,2.0,2344.0,sqft,1376.0,sqft,1913.0,0.3000,0
15066959,"1300 Pacific Ave, San Francisco, CA",1/14/16,425000.00,$,1.0,NaN,2.0,989.0,sqft,NaN,NaN,1910.0,0.4250,1
15067302,"948 Jackson St, San Francisco, CA",11/13/15,1.95,$M,0.0,NaN,4.0,4362.0,sqft,1459.0,sqft,1908.0,1.9500,0
15067583,"946 Stockton St APT 6B, San Francisco, CA",12/18/15,775000.00,$,0.0,NaN,2.0,710.0,sqft,NaN,NaN,1970.0,0.7750,0
15067604,"946 Stockton St APT 9E, San Francisco, CA",12/2/15,705000.00,$,0.0,2.0,2.0,744.0,sqft,NaN,NaN,1970.0,0.7050,0
15067755,"1250 Clay St APT 306, San Francisco, CA",1/10/16,695000.00,$,0.0,1.0,1.0,541.0,sqft,NaN,NaN,1950.0,0.6950,0
15067890,"1250 Jones St APT 503, San Francisco, CA",12/4/15,1.41,$M,0.0,1.0,1.0,1250.0,sqft,NaN,NaN,1929.0,1.4100,0
15067896,"1250 Jones St APT 802, San Francisco, CA",12/15/15,1.68,$M,0.0,1.0,1.0,1115.0,sqft,NaN,NaN,1929.0,1.6800,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2100992607,"2137 Pine St, San Francisco, CA",1/15/16,1.55,$M,0.0,4.0,2.5,1632.0,sqft,NaN,NaN,NaN,1.5500,0
2100994004,"409 Miguel St, San Francisco, CA",12/9/15,510000.00,$,0.0,1.0,1.0,400.0,sqft,NaN,NaN,NaN,0.5100,0
2101028916,"251 Missouri St, San Francisco, CA",12/17/15,2.45,$M,0.0,4.0,3.0,2301.0,sqft,NaN,NaN,1900.0,2.4500,0
2101094207,"1650 Florida St, San Francisco, CA",11/29/15,970000.00,$,0.0,3.0,1.0,NaN,NaN,NaN,NaN,1904.0,0.9700,0
2101105851,"41 Collingwood St, San Francisco, CA",12/10/15,1.30,$M,0.0,3.0,1.0,1496.0,sqft,NaN,NaN,1908.0,1.3000,0
2101116542,"2753 Bryant St, San Francisco, CA",1/14/16,1.70,$M,0.0,9.0,3.0,4005.0,sqft,NaN,NaN,1900.0,1.7000,0
2101147349,"244 Precita Ave, San Francisco, CA",11/26/15,785000.00,$,0.0,1.0,1.0,625.0,sqft,NaN,NaN,1908.0,0.7850,0
2101153805,"6 Rossi Ave, San Francisco, CA",12/2/15,1.15,$M,0.0,3.0,1.0,1912.0,sqft,NaN,NaN,1941.0,1.1500,0
2101156735,"333 Potrero Ave, San Francisco, CA",1/5/16,1.14,$M,1.0,NaN,NaN,1776.0,sqft,3746.0,sqft,1905.0,1.1400,1
2101167573,"1340 Union St, San Francisco, CA",1/25/16,1.25,$M,0.0,2.0,2.0,1108.0,sqft,NaN,NaN,1951.0,1.2500,0
2101169168,"688 Douglass St, San Francisco, CA",11/10/15,3.15,$M,1.0,NaN,NaN,3500.0,sqft,2495.0,sqft,1908.0,3.1500,1
2101175813,"414 Linden St, San Francisco, CA",12/13/15,835000.00,$,0.0,1.0,1.0,NaN,NaN,NaN,NaN,1909.0,0.8350,0
2101331127,"1408 31st Ave APT 303, San Francisco, CA",12/28/15,890000.00,$,0.0,2.0,2.0,1424.0,sqft,NaN,NaN,2008.0,0.8900,0
2101505254,"333 Beale St, San Francisco, CA",12/3/15,1.40,$M,0.0,1.0,1.0,950.0,sqft,NaN,NaN,2015.0,1.4000,0
2101588805,"82 Alvarado St, San Francisco, CA",11/19/15,750000.00,$,0.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,0.7500,0
2101807538,"2619 Sacramento St, San Francisco, CA",12/2/15,2.90,$M,1.0,NaN,NaN,NaN,NaN,2038.0,sqft,1900.0,2.9000,1
2102385068,"129 Central Ave, San Francisco, CA",12/1/15,1.80,$M,0.0,3.0,2.0,NaN,NaN,NaN,NaN,1905.0,1.8000,0
2102906272,"444 Linden St, San Francisco, CA",12/14/15,5800.00,$,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0058,NaN
2106229715,"2595 38th Ave, San Francisco, CA",1/19/16,1.24,$M,0.0,3.0,3.0,2414.0,sqft,1306.0,sqft,1943.0,1.2400,0
2108411930,"3500 19th St, San Francisco, CA",12/29/15,1.73,$M,0.0,2.0,2.5,1500.0,sqft,NaN,NaN,2013.0,1.7300,0
2108546010,"1738 Lombard St APT 4, San Francisco, CA",1/14/16,1.40,$M,0.0,2.0,2.0,NaN,NaN,NaN,NaN,2004.0,1.4000,0
2114498518,"201 Sansome St UNIT 501, San Francisco, CA",1/26/16,757500.00,$,0.0,1.0,1.0,658.0,sqft,NaN,NaN,1909.0,0.7575,0
2121221385,"925 Larkin St, San Francisco, CA",11/30/15,1.43,$M,0.0,NaN,NaN,6600.0,sqft,NaN,NaN,1907.0,1.4300,0
2121978635,"829 Folsom St UNIT 906, San Francisco, CA",12/6/15,675000.00,$,0.0,1.0,1.0,557.0,sqft,NaN,NaN,2010.0,0.6750,0
2122992200,"129 Octavia St, San Francisco, CA",11/20/15,2.75,$M,1.0,NaN,NaN,3655.0,sqft,NaN,NaN,1883.0,2.7500,1
2124214951,"412 Green St APT A, San Francisco, CA",1/15/16,390000.00,$,1.0,NaN,1.0,264.0,sqft,NaN,NaN,2012.0,0.3900,1
2126960082,"355 1st St UNIT 1905, San Francisco, CA",11/20/15,860000.00,$,0.0,1.0,1.0,691.0,sqft,NaN,NaN,2004.0,0.8600,0
2128308939,"33 Santa Cruz Ave, San Francisco, CA",12/10/15,830000.00,$,0.0,3.0,3.0,1738.0,sqft,2299.0,sqft,1976.0,0.8300,0
2131957929,"1821 Grant Ave, San Francisco, CA",12/15/15,835000.00,$,0.0,2.0,2.0,1048.0,sqft,NaN,NaN,1975.0,0.8350,0
2136213970,"1200 Gough St, San Francisco, CA",1/10/16,825000.00,$,0.0,1.0,1.0,900.0,sqft,NaN,NaN,1966.0,0.8250,0

> ### `Size`

In [120]:
df.SizeUnit.unique()

array(['sqft', nan], dtype=object)

Size is either in square feet or missing.  Almost no work needed except to remove size unit.

In [123]:
df.drop('SizeUnit', axis = 1, inplace = True)

> ### `LotSize`: scale all values to square feet

In [124]:
df.LotSizeUnit.unique()

array([nan, 'sqft', 'ac'], dtype=object)

Lot sizes are either in square feet or in acres.  Let's convert them all to square feet.

> Group #1: the `na` values:

In [134]:
df_na = df["LotSizeUnit"].isnull()
df_na = df.loc[df_na]
df_na

,Address,DateOfSale,SalePrice,SalePriceUnit,IsAStudio,Beds,Baths,Size,LotSize,LotSizeUnit,BuiltInYear,new_column,IsAStudio_b
ID,,,,,,,,,,,,,
15063471,"55 Vandewater St APT 9, San Francisco, CA",12/4/15,710000.00,$,0.0,1.0,NaN,550.0,NaN,NaN,1980.0,0.7100,0
15064044,"199 Chestnut St APT 5, San Francisco, CA",12/11/15,1.50,$M,0.0,1.0,1.0,1060.0,NaN,NaN,1930.0,1.5000,0
15064257,"111 Chestnut St APT 403, San Francisco, CA",1/15/16,970000.00,$,0.0,2.0,2.0,1299.0,NaN,NaN,1993.0,0.9700,0
15064295,"111 Chestnut St APT 702, San Francisco, CA",12/17/15,940000.00,$,0.0,2.0,2.0,1033.0,NaN,NaN,1993.0,0.9400,0
15064391,"1821 Grant Ave APT 101, San Francisco, CA",12/15/15,835000.00,$,0.0,1.0,1.0,1048.0,NaN,NaN,1975.0,0.8350,0
15064669,"1055 Lombard St # C, San Francisco, CA",12/31/15,2.19,$M,0.0,2.0,3.0,1182.0,NaN,NaN,1986.0,2.1900,0
15065032,"101 Lombard St APT 116E, San Francisco, CA",12/7/15,800000.00,$,0.0,1.0,1.0,1000.0,NaN,NaN,1983.0,0.8000,0
15065140,"1407 Montgomery St APT 2, San Francisco, CA",1/28/16,976000.00,$,0.0,1.0,1.0,1000.0,NaN,NaN,1870.0,0.9760,0
15065727,"1360 Montgomery St APT 1, San Francisco, CA",11/16/15,720000.00,$,0.0,1.0,1.0,552.0,NaN,NaN,1937.0,0.7200,0
15065946,"44 Macondray Ln APT 2E, San Francisco, CA",11/30/15,1.29,$M,0.0,2.0,2.0,1165.0,NaN,NaN,1980.0,1.2900,0
15066001,"1070 Green St APT 201, San Francisco, CA",11/18/15,2.90,$M,0.0,2.0,2.0,1465.0,NaN,NaN,1963.0,2.9000,0
15066036,"1070 Green St APT 1402, San Francisco, CA",12/31/15,2.60,$M,0.0,3.0,2.5,2017.0,NaN,NaN,1963.0,2.6000,0
15066085,"1907 Leavenworth St APT 8, San Francisco, CA",11/12/15,908000.00,$,0.0,2.0,1.0,956.0,NaN,NaN,1907.0,0.9080,0
15066201,"1101 Green St # 303, San Francisco, CA",11/16/15,1.21,$M,0.0,2.0,1.0,1003.0,NaN,NaN,1930.0,1.2100,0
15066344,"999 Green St APT 905, San Francisco, CA",12/10/15,1.28,$M,0.0,1.0,1.0,986.0,NaN,NaN,1964.0,1.2800,0
15066608,"455 Vallejo St APT 111, San Francisco, CA",12/16/15,875000.00,$,0.0,1.0,1.0,825.0,NaN,NaN,1973.0,0.8750,0
15066959,"1300 Pacific Ave, San Francisco, CA",1/14/16,425000.00,$,1.0,NaN,2.0,989.0,NaN,NaN,1910.0,0.4250,1
15067583,"946 Stockton St APT 6B, San Francisco, CA",12/18/15,775000.00,$,0.0,NaN,2.0,710.0,NaN,NaN,1970.0,0.7750,0
15067604,"946 Stockton St APT 9E, San Francisco, CA",12/2/15,705000.00,$,0.0,2.0,2.0,744.0,NaN,NaN,1970.0,0.7050,0
15067755,"1250 Clay St APT 306, San Francisco, CA",1/10/16,695000.00,$,0.0,1.0,1.0,541.0,NaN,NaN,1950.0,0.6950,0
15067890,"1250 Jones St APT 503, San Francisco, CA",12/4/15,1.41,$M,0.0,1.0,1.0,1250.0,NaN,NaN,1929.0,1.4100,0
15067896,"1250 Jones St APT 802, San Francisco, CA",12/15/15,1.68,$M,0.0,1.0,1.0,1115.0,NaN,NaN,1929.0,1.6800,0
15068039,"1170 Sacramento St APT 9B, San Francisco, CA",12/3/15,3.80,$M,0.0,2.0,2.0,1961.0,NaN,NaN,1963.0,3.8000,0
15068514,"1177 California St APT 702, San Francisco, CA",12/18/15,665000.00,$,0.0,1.0,1.0,511.0,NaN,NaN,1978.0,0.6650,0
15068551,"1177 California St APT 501, San Francisco, CA",12/15/15,900000.00,$,0.0,1.0,1.0,884.0,NaN,NaN,1978.0,0.9000,0
15068580,"1177 California St APT 423, San Francisco, CA",12/29/15,738000.00,$,1.0,NaN,1.0,706.0,NaN,NaN,1978.0,0.7380,1
15068592,"1177 California St APT 304, San Francisco, CA",12/1/15,790000.00,$,0.0,1.0,1.0,645.0,NaN,NaN,1977.0,0.7900,0
15068857,"1001 Pine St APT 608, San Francisco, CA",12/7/15,535000.00,$,1.0,NaN,1.0,450.0,NaN,NaN,1964.0,0.5350,1
15068874,"1001 Pine St APT 801, San Francisco, CA",12/24/15,650000.00,$,0.0,NaN,1.0,650.0,NaN,NaN,1963.0,0.6500,0
15069276,"795 Sutter St # 303, San Francisco, CA",11/15/15,1.20,$M,0.0,3.0,2.0,1753.0,NaN,NaN,1913.0,1.2000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2100831589,"181 Noe St, San Francisco, CA",11/22/15,1.23,$M,0.0,3.0,1.0,NaN,NaN,NaN,NaN,1.2300,0
2100835351,"1676 Newcomb Ave, San Francisco, CA",12/8/15,1.60,$M,NaN,NaN,NaN,NaN,NaN,NaN,1900.0,1.6000,NaN
2100861826,"1606 Jones St, San Francisco, CA",12/11/15,2.80,$M,0.0,NaN,NaN,4035.0,NaN,NaN,1907.0,2.8000,0
2100901630,"1890 Jefferson Street #302, San Francisco, CA",2/4/16,1.07,$M,0.0,2.0,1.0,1018.0,NaN,NaN,1934.0,1.0700,0
2100902229,"2299 Market St APT 502, San Francisco, CA",12/3/15,915000.00,$,0.0,1.0,1.0,700.0,NaN,NaN,2013.0,0.9150,0
2100992607,"2137 Pine St, San Francisco, CA",1/15/16,1.55,$M,0.0,4.0,2.5,1632.0,NaN,NaN,NaN,1.5500,0
2100994004,"409 Miguel St, San Francisco, CA",12/9/15,510000.00,$,0.0,1.0,1.0,400.0,NaN,NaN,NaN,0.5100,0
2101028916,"251 Missouri St, San Francisco, CA",12/17/15,2.45,$M,0.0,4.0,3.0,2301.0,NaN,NaN,1900.0,2.4500,0
2101094207,"1650 Florida St, San Francisco, CA",11/29/15,970000.00,$,0.0,3.0,1.0,NaN,NaN,NaN,1904.0,0.9700,0
2101105851,"41 Collingwood St, San Francisco, CA",12/10/15,1.30,$M,0.0,3.0,1.0,1496.0,NaN,NaN,1908.0,1.3000,0
2101116542,"2753 Bryant St, San Francisco, CA",1/14/16,1.70,$M,0.0,9.0,3.0,4005.0,NaN,NaN,1900.0,1.7000,0
2101147349,"244 Precita Ave, San Francisco, CA",11/26/15,785000.00,$,0.0,1.0,1.0,625.0,NaN,NaN,1908.0,0.7850,0
2101153805,"6 Rossi Ave, San Francisco, CA",12/2/15,1.15,$M,0.0,3.0,1.0,1912.0,NaN,NaN,1941.0,1.1500,0
2101167573,"1340 Union St, San Francisco, CA",1/25/16,1.25,$M,0.0,2.0,2.0,1108.0,NaN,NaN,1951.0,1.2500,0
2101175813,"414 Linden St, San Francisco, CA",12/13/15,835000.00,$,0.0,1.0,1.0,NaN,NaN,NaN,1909.0,0.8350,0
2101331127,"1408 31st Ave APT 303, San Francisco, CA",12/28/15,890000.00,$,0.0,2.0,2.0,1424.0,NaN,NaN,2008.0,0.8900,0
2101505254,"333 Beale St, San Francisco, CA",12/3/15,1.40,$M,0.0,1.0,1.0,950.0,NaN,NaN,2015.0,1.4000,0
2101588805,"82 Alvarado St, San Francisco, CA",11/19/15,750000.00,$,0.0,2.0,1.0,NaN,NaN,NaN,NaN,0.7500,0
2102385068,"129 Central Ave, San Francisco, CA",12/1/15,1.80,$M,0.0,3.0,2.0,NaN,NaN,NaN,1905.0,1.8000,0
2102906272,"444 Linden St, San Francisco, CA",12/14/15,5800.00,$,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0058,NaN
2108411930,"3500 19th St, San Francisco, CA",12/29/15,1.73,$M,0.0,2.0,2.5,1500.0,NaN,NaN,2013.0,1.7300,0
2108546010,"1738 Lombard St APT 4, San Francisco, CA",1/14/16,1.40,$M,0.0,2.0,2.0,NaN,NaN,NaN,2004.0,1.4000,0
2114498518,"201 Sansome St UNIT 501, San Francisco, CA",1/26/16,757500.00,$,0.0,1.0,1.0,658.0,NaN,NaN,1909.0,0.7575,0
2121221385,"925 Larkin St, San Francisco, CA",11/30/15,1.43,$M,0.0,NaN,NaN,6600.0,NaN,NaN,1907.0,1.4300,0
2121978635,"829 Folsom St UNIT 906, San Francisco, CA",12/6/15,675000.00,$,0.0,1.0,1.0,557.0,NaN,NaN,2010.0,0.6750,0
2122992200,"129 Octavia St, San Francisco, CA",11/20/15,2.75,$M,1.0,NaN,NaN,3655.0,NaN,NaN,1883.0,2.7500,1
2124214951,"412 Green St APT A, San Francisco, CA",1/15/16,390000.00,$,1.0,NaN,1.0,264.0,NaN,NaN,2012.0,0.3900,1
2126960082,"355 1st St UNIT 1905, San Francisco, CA",11/20/15,860000.00,$,0.0,1.0,1.0,691.0,NaN,NaN,2004.0,0.8600,0
2131957929,"1821 Grant Ave, San Francisco, CA",12/15/15,835000.00,$,0.0,2.0,2.0,1048.0,NaN,NaN,1975.0,0.8350,0
2136213970,"1200 Gough St, San Francisco, CA",1/10/16,825000.00,$,0.0,1.0,1.0,900.0,NaN,NaN,1966.0,0.8250,0

In [ ]:
df_na = df[df.LotSizeUnit.isnull()]
df_na = df_na.drop('LotSizeUnit', axis = 1)

df_na.shape[0]

> Group #2: the `sqft` values:

In [135]:
df_sqft = df["LotSizeUnit"] == 'sqft'
df_sqft = df.loc[df_sqft]
df_sqft

,Address,DateOfSale,SalePrice,SalePriceUnit,IsAStudio,Beds,Baths,Size,LotSize,LotSizeUnit,BuiltInYear,new_column,IsAStudio_b
ID,,,,,,,,,,,,,
15063505,"740 Francisco St, San Francisco, CA",11/30/15,2.15,$M,0.0,NaN,2.0,1430.0,2435.0,sqft,1948.0,2.1500,0
15063609,"819 Francisco St, San Francisco, CA",11/12/15,5.60,$M,0.0,2.0,3.5,2040.0,3920.0,sqft,1976.0,5.6000,0
15064536,"2300 Leavenworth St, San Francisco, CA",12/4/15,2.83,$M,0.0,3.0,2.0,2115.0,1271.0,sqft,1913.0,2.8300,0
15064640,"1047-1049 Lombard St, San Francisco, CA",1/14/16,4.05,$M,1.0,NaN,NaN,4102.0,3049.0,sqft,1948.0,4.0500,1
15065810,"1327-1329 Kearny St, San Francisco, CA",11/25/15,2.25,$M,0.0,NaN,4.0,2658.0,1600.0,sqft,1906.0,2.2500,0
15066281,"1807 Jones St, San Francisco, CA",12/15/15,1.70,$M,0.0,2.0,2.0,1467.0,3023.0,sqft,1922.0,1.7000,0
15066839,"1163-1165 Vallejo St, San Francisco, CA",12/1/15,300000.00,$,0.0,NaN,2.0,2344.0,1376.0,sqft,1913.0,0.3000,0
15067302,"948 Jackson St, San Francisco, CA",11/13/15,1.95,$M,0.0,NaN,4.0,4362.0,1459.0,sqft,1908.0,1.9500,0
15068767,"767-771 Pine St, San Francisco, CA",12/31/15,2.49,$M,0.0,NaN,4.0,4605.0,1376.0,sqft,1909.0,2.4900,0
15069628,"47-49 Casa Way, San Francisco, CA",11/25/15,3.80,$M,0.0,3.0,NaN,3905.0,2748.0,sqft,1939.0,3.8000,0
15069883,"59 Rico Way, San Francisco, CA",12/21/15,2.55,$M,0.0,3.0,1.5,1675.0,2613.0,sqft,1925.0,2.5500,0
15070227,"134 Alhambra St, San Francisco, CA",1/18/16,3.08,$M,0.0,3.0,3.0,2599.0,3005.0,sqft,1925.0,3.0800,0
15070235,"180 Alhambra St, San Francisco, CA",12/7/15,3.33,$M,0.0,NaN,2.0,2864.0,2286.0,sqft,1925.0,3.3300,0
15070255,"146 Avila St, San Francisco, CA",12/23/15,3.02,$M,0.0,3.0,3.0,2100.0,2495.0,sqft,1924.0,3.0200,0
15070544,"1051-1053 Francisco St, San Francisco, CA",12/1/15,9.71,$M,0.0,5.0,6.0,4650.0,4726.0,sqft,1953.0,9.7100,0
15070728,"3315 Pierce St, San Francisco, CA",1/6/16,2.50,$M,0.0,3.0,3.5,2255.0,2500.0,sqft,1925.0,2.5000,0
15070807,"1763-1765 Chestnut St, San Francisco, CA",12/1/15,1.38,$M,0.0,NaN,3.0,3260.0,3000.0,sqft,1920.0,1.3800,0
15071199,"2374-2376 Greenwich St, San Francisco, CA",11/23/15,6.00,$M,0.0,4.0,5.0,4178.0,2495.0,sqft,1938.0,6.0000,0
15072504,"2660 Scott St, San Francisco, CA",12/8/15,13.10,$M,0.0,7.0,8.0,9190.0,5623.0,sqft,1908.0,13.1000,0
15072510,"2535 Vallejo St, San Francisco, CA",11/23/15,5.60,$M,0.0,NaN,4.0,4065.0,3781.0,sqft,1908.0,5.6000,0
15074558,"2684-2686 Sacramento St, San Francisco, CA",12/8/15,2.71,$M,0.0,NaN,NaN,2840.0,2674.0,sqft,1900.0,2.7100,0
15074647,"2619-2621 Sacramento St, San Francisco, CA",12/3/15,2.90,$M,0.0,7.0,5.0,2930.0,2038.0,sqft,1900.0,2.9000,0
15075139,"2215 California St, San Francisco, CA",12/11/15,5.05,$M,0.0,5.0,6.0,3485.0,3454.0,sqft,1900.0,5.0500,0
15076156,"1533 Sutter St, San Francisco, CA",11/12/15,5.53,$M,0.0,6.0,7.5,7375.0,2748.0,sqft,1890.0,5.5300,0
15078434,"412-414 Linden St, San Francisco, CA",12/16/15,835000.00,$,0.0,4.0,2.0,2200.0,1297.0,sqft,1909.0,0.8350,0
15078460,"622-626 Buchanan St, San Francisco, CA",11/12/15,1.25,$M,0.0,NaN,NaN,2785.0,1637.0,sqft,1900.0,1.2500,0
15078815,"545-547 Oak St, San Francisco, CA",12/23/15,1.77,$M,0.0,5.0,3.0,2610.0,3297.0,sqft,1900.0,1.7700,0
15078866,"753-755 Oak St, San Francisco, CA",11/10/15,375000.00,$,0.0,NaN,2.0,2430.0,3781.0,sqft,1890.0,0.3750,0
15078953,"789-793 Page St, San Francisco, CA",11/25/15,1.70,$M,0.0,6.0,3.0,3825.0,2247.0,sqft,1911.0,1.7000,0
15079269,"591-595 Waller St, San Francisco, CA",12/2/15,1.23,$M,0.0,NaN,7.0,7240.0,2696.0,sqft,1900.0,1.2300,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15200392,"288 Bemis St, San Francisco, CA",11/16/15,1.45,$M,0.0,2.0,2.0,1263.0,2613.0,sqft,1908.0,1.4500,0
15200453,"5553 Diamond Heights Blvd, San Francisco, CA",11/18/15,1.22,$M,0.0,3.0,2.5,1890.0,2622.0,sqft,1969.0,1.2200,0
15200513,"155 Arbor St, San Francisco, CA",12/15/15,1.08,$M,0.0,3.0,1.0,1550.0,2400.0,sqft,1937.0,1.0800,0
19333808,"San Carlos St, Carmel, CA",11/25/15,995000.00,$,0.0,2.0,1.0,847.0,4000.0,sqft,1958.0,0.9950,0
35972021,"1101 Pacific Ave, San Francisco, CA",12/29/15,1.00,$M,0.0,3.0,2.0,1458.0,4783.0,sqft,2000.0,1.0000,0
53734143,"2013 Buchanan St, San Francisco, CA",12/4/15,1.99,$M,0.0,3.0,2.0,2100.0,2328.0,sqft,1999.0,1.9900,0
53734310,"313 2nd Ave APT 6, San Francisco, CA",11/19/15,775000.00,$,0.0,2.0,1.0,896.0,3049.0,sqft,1965.0,0.7750,0
59700133,"557 Birch St, San Francisco, CA",12/17/15,1.57,$M,0.0,3.0,3.0,1635.0,1500.0,sqft,2001.0,1.5700,0
63196937,"1265 Masonic Ave # C, San Francisco, CA",11/30/15,1.41,$M,0.0,2.0,2.0,1596.0,3453.0,sqft,1904.0,1.4100,0
64971857,"1436 Vallejo St, San Francisco, CA",12/18/15,1.21,$M,0.0,NaN,5.0,4554.0,1920.0,sqft,1925.0,1.2100,0
69817329,"955 Excelsior Ave, San Francisco, CA",11/13/15,1.15,$M,0.0,4.0,4.0,2134.0,2495.0,sqft,2005.0,1.1500,0
80741391,"340 6th St UNIT 303, San Francisco, CA",12/31/15,5700.00,$,0.0,NaN,NaN,2176.0,4500.0,sqft,1997.0,0.0057,0
89237920,"122 Maynard St, San Francisco, CA",12/22/15,10500.00,$,0.0,5.0,5.0,2700.0,2750.0,sqft,2009.0,0.0105,0
96048518,"16 Orizaba Ave, San Francisco, CA",12/9/15,1.30,$M,0.0,6.0,6.0,4136.0,2613.0,sqft,2010.0,1.3000,0
124426156,"2175 Quesada Ave #V, San Francisco, CA",12/17/15,220000.00,$,NaN,NaN,NaN,NaN,2495.0,sqft,1900.0,0.2200,NaN
124852113,"501 Noriega St # V, San Francisco, CA",11/10/15,825000.00,$,NaN,NaN,NaN,NaN,3201.0,sqft,1900.0,0.8250,NaN
124852223,"534 Leland Ave #V, San Francisco, CA",11/12/15,288000.00,$,NaN,NaN,NaN,NaN,2495.0,sqft,1900.0,0.2880,NaN
124857832,"298 Bemis St # V, San Francisco, CA",11/16/15,1.45,$M,NaN,NaN,NaN,NaN,2031.0,sqft,1900.0,1.4500,NaN
125089501,"150 Grand View Ave, San Francisco, CA",12/14/15,500.00,$,NaN,NaN,NaN,NaN,44.0,sqft,1900.0,0.0005,NaN
125090873,"1379 29TH Ave #V, San Francisco, CA",12/17/15,1.18,$M,NaN,NaN,NaN,NaN,188.0,sqft,NaN,1.1800,NaN
125115962,"1027 Clayton St # V, San Francisco, CA",12/22/15,1.21,$M,NaN,NaN,NaN,NaN,2247.0,sqft,1900.0,1.2100,NaN
125156575,"1915 Diamond St, San Francisco, CA",12/30/15,1.80,$M,0.0,NaN,1.0,2200.0,4316.0,sqft,1910.0,1.8000,0
2099976986,"639 35th Ave, San Francisco, CA",1/21/16,2.19,$M,0.0,9.0,6.0,2790.0,3005.0,sqft,1900.0,2.1900,0
2100695464,"532 Lyon St, San Francisco, CA",11/24/15,4.50,$M,0.0,5.0,5.0,NaN,3044.0,sqft,1904.0,4.5000,0
2100850402,"1915 Diamond St, San Francisco, CA",12/29/15,1.80,$M,0.0,4.0,3.0,2400.0,4356.0,sqft,1910.0,1.8000,0
2101156735,"333 Potrero Ave, San Francisco, CA",1/5/16,1.14,$M,1.0,NaN,NaN,1776.0,3746.0,sqft,1905.0,1.1400,1
2101169168,"688 Douglass St, San Francisco, CA",11/10/15,3.15,$M,1.0,NaN,NaN,3500.0,2495.0,sqft,1908.0,3.1500,1
2101807538,"2619 Sacramento St, San Francisco, CA",12/2/15,2.90,$M,1.0,NaN,NaN,NaN,2038.0,sqft,1900.0,2.9000,1
2106229715,"2595 38th Ave, San Francisco, CA",1/19/16,1.24,$M,0.0,3.0,3.0,2414.0,1306.0,sqft,1943.0,1.2400,0
2128308939,"33 Santa Cruz Ave, San Francisco, CA",12/10/15,830000.00,$,0.0,3.0,3.0,1738.0,2299.0,sqft,1976.0,0.8300,0

> Group #3: the `ac` values:

In [137]:
df_ac = df["LotSizeUnit"] == 'ac'
df_ac = df.loc[df_ac]
df_ac

,Address,DateOfSale,SalePrice,SalePriceUnit,IsAStudio,Beds,Baths,Size,LotSize,LotSizeUnit,BuiltInYear,new_column,IsAStudio_b
ID,,,,,,,,,,,,,
15080894,"2950 Pacific Ave, San Francisco, CA",11/25/15,16.00,$M,0.0,7.0,6.5,11500.0,0.28,ac,1907.0,16.000,0
15089098,"22 22nd Ave, San Francisco, CA",11/17/15,4.97,$M,0.0,5.0,5.0,5610.0,0.32,ac,1926.0,4.970,0
79844263,"555 4th St, San Francisco, CA",11/16/15,788000.00,$,0.0,1.0,1.0,670.0,1.00,ac,2006.0,0.788,0
124865970,"255 Woodside Ave, San Francisco, CA",11/16/15,24.90,$M,NaN,NaN,NaN,NaN,1.10,ac,1900.0,24.900,NaN

> Let's scale these `acre` values into `sqft`:

In [ ]:
# (1 acre = 43,560 sqft)

# TODO

Let's now put everything back together...

In [ ]:
df = pd.concat([df_na, df_sqft, df_ac]).sort_index()

In [ ]:
df

> ## `.to_csv`: save the `DataFrame` into a `.csv` file

At the end of each phase (i.e., wrangling) of your data science project, it is a good idea to save your dataset into disk.  Then for the next step, create a new Jupyther notebook and load your updated dataset

In [ ]:
df.to_csv(os.path.join('..', 'datasets', 'dataset-02-zillow.csv'), index_label = 'ID')

## Part C - More advanced topics

### `.groupby()`

(http://pandas.pydata.org/pandas-docs/stable/groupby.html)

> What is the mean price of houses by number of bedrooms?

In [ ]:
df = pd.read_csv()

In [ ]:
df[ ['Beds', 'SalePrice'] ].groupby('Beds').mean()

### `.map()`

(http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.map.html)

When converting `SalePrice`, `Size`, and `LotSize` into `$M` and sqft, we could also have done the following:

In [ ]:
df = pd.read_csv(os.path.join('..', 'datasets', 'dataset-02-zillow-starter.csv'))

In [ ]:
df.SalePriceUnit.unique()

In [ ]:
df.SalePriceUnit.map({'$': 1. / (10 ** 6), '$M': 1.})

In [ ]:
df.SalePrice *= df.SalePriceUnit.map({'$': 1. / (10 ** 6), '$M': 1.})

In [ ]:
df.SalePrice

In [ ]:
df.drop('SalePriceUnit', axis = 1, inplace = True)

> ### Activity:  Using `.map()`, convert `Size` and `LotSize` to sqft.

In [ ]:
# TODO

### `.to_datetime()`

(http://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html)

In [ ]:
df.DateOfSale

So far, the dates stored in the `DataFrame` are just strings.  We cannot easily extract the day, month, year.  Thanksfully, `pandas` provides some facilities to do so.

In [ ]:
pd.to_datetime(df.DateOfSale)

In [ ]:
df.DateOfSale = pd.to_datetime(df.DateOfSale)

### `.apply()`

(http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.apply.html)

In [ ]:
df.DateOfSale.apply(lambda date_of_sale: date_of_sale.year)

In [ ]:
df['YearOfSale'] = df.DateOfSale.apply(lambda date_of_sale: date_of_sale.year)
df['MonthOfSale'] = df.DateOfSale.apply(lambda date_of_sale: date_of_sale.month)
df['DayOfSale'] = df.DateOfSale.apply(lambda date_of_sale: date_of_sale.day)
df['WeekDayOfSale'] = df.DateOfSale.apply(lambda date_of_sale: date_of_sale.weekday_name)

df.drop('DateOfSale', axis = 1, inplace = True)

Now, we have the day, day of the week, month, and year of the sale as features in our dataset.

In [ ]:
df